
<ion-header>
	<ion-toolbar color="danger">		
		<ion-icon name="alert-circle" size="large" slot="start" class="rev-alert-icon"></ion-icon>
		<ion-title>Incompatible Browser Detected</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content  class="ion-padding">
	<div class="rev-header-grid">
		<div>
			<img src="../../assets/icon/ie.png" alt="Internet Explorer icon"/>
		</div>
		<div>
			<ion-card-title><h1>IE (Internet Explorer) is <strong>NOT</strong> supported</h1></ion-card-title>
			<h2 class="h5">Action required:</h2>
			<p>Please launch Secure Mail using a different browser such as Chrome, Firefox, Safari, or Opera.</p>
		</div>
	</div>
</ion-content>

