
    <div class="ion-page" id="dash">
      <ion-header>
        <ion-toolbar color="medium">
          <ion-buttons slot="start">
            <ion-menu-toggle>
              <ion-button>
                <ion-icon slot="icon-only" name="menu"></ion-icon>
              </ion-button>
            </ion-menu-toggle>
          </ion-buttons>
          <ion-title>Communicator</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
				<ion-grid>
					<ion-row>
			<ion-col size="12" size-md="2">
				
  			<ion-header>
					<ion-toolbar>
    			<ion-title>Contacts</ion-title>
						<ion-searchbar showCancelButton="focus"></ion-searchbar>
		</ion-toolbar>
				</ion-header>
				
				
		<ion-list>
			<ion-item nav-clear menu-close ng-click="toggleSubmenu()">
				<ion-icon name="caret-down-circle"  class="ion-padding-end"></ion-icon>
							<ion-label>Recent Sessions</ion-label></ion-item>
            <ion-item nav-clear menu-close ng-show="submenu">
                <ion-list>
                    <ion-item nav-clear menu-close>
									<ion-icon name="person-circle"  class="ion-padding-end"></ion-icon>
				<ion-label>Mike K.</ion-label>
									</ion-item>
                    <ion-item nav-clear menu-close>
									<ion-icon name="person-circle"  class="ion-padding-end"></ion-icon>
				<ion-label>Charlie G.</ion-label>
									</ion-item>
                    <ion-item nav-clear menu-close>
									<ion-icon name="person-circle"  class="ion-padding-end"></ion-icon>
				<ion-label>Hani Z.</ion-label></ion-item>
                </ion-list>
            </ion-item>
            <ion-item nav-clear menu-close>
							<ion-icon name="caret-forward-circle"  class="ion-padding-end"></ion-icon>
							<ion-label>Sales &amp; Marketing</ion-label>
			</ion-item>
            <ion-item nav-clear menu-close>
							<ion-icon name="caret-forward-circle"  class="ion-padding-end"></ion-icon>
							<ion-label>Systems Engineers</ion-label>
			</ion-item>
            <ion-item nav-clear menu-close ng-show="submenu">
							<ion-icon name="caret-down-circle"  class="ion-padding-end"></ion-icon>
							<ion-label>Dev Team</ion-label>
			</ion-item>
			<ion-item>
			<ion-list>
			<ion-item>
				<ion-icon name="person-circle"  class="ion-padding-end"></ion-icon>
				<ion-label>Mark P.</ion-label>
			</ion-item>
			<ion-item>
				<ion-icon name="person-circle"  class="ion-padding-end"></ion-icon>
				<ion-label>Mike K.</ion-label>
			</ion-item>
			<ion-item>
				<ion-icon name="person-circle"  class="ion-padding-end"></ion-icon>
				<ion-label>Dave K.</ion-label>
			</ion-item>
			<ion-item>
				<ion-icon name="person-circle"  class="ion-padding-end"></ion-icon>
				<ion-label>John C.</ion-label>
			</ion-item>
			<ion-item>
				<ion-icon name="person-circle"  class="ion-padding-end"></ion-icon>
				<ion-label>John R.</ion-label>
			</ion-item>
			<ion-item>
				<ion-icon name="person-circle"  class="ion-padding-end"></ion-icon>
				<ion-label>Hani Z.</ion-label>
			</ion-item>
			<ion-item>
				<ion-icon name="person-circle"  class="ion-padding-end"></ion-icon>
				<ion-label>Karl K.</ion-label>
			</ion-item>
			</ion-list>
			</ion-item>
		</ion-list>
    	</ion-col>			 
			<ion-col size="12" size-md="4">
      	<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    <ion-card-title>Card Title</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>
    	</ion-col>			 
			<ion-col size="12" size-sm="6">
      	<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    <ion-card-title>Card Title</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>
    	</ion-col>			 
		</ion-row>
				</ion-grid>
      </ion-content>
    </div>
	
	
	

