
<div class="ion-page" id="dash">

	<ion-content>
				
		<div id="communicator" class="rev-grid-communicator rev-metrics">
			<div id="rev-flex-grid" class="rev-column-grid rev-default">
				<div class="rev-column queues">
					<div class="rev-queues-container">
						<ion-header>
							<ion-toolbar color="light">
								<ion-buttons slot="start">
									<ion-menu-toggle>
										<ion-button>
											<ion-icon slot="icon-only" name="menu"></ion-icon>
										</ion-button>
									</ion-menu-toggle>
									<ion-button (click)="focusQueues()" class="ion-hide-xl-down"><ion-icon name="file-tray-stacked-sharp" slot="icon-only"></ion-icon></ion-button>
								</ion-buttons>
								<ion-title>Queues</ion-title>
							</ion-toolbar>
						</ion-header>
						<ion-content>
								<ion-item class="rev-item" button="true" detail="false" color="light">
									<!--ion-icon slot="start" name="add" ></ion-icon-->
									<ion-label ><h2>Sales ACD</h2></ion-label>
									<ion-buttons slot="end">
										<ion-button size="small" slot="end">
											<ion-icon size="small" slot="icon-only" name="ellipsis-vertical"></ion-icon>
										</ion-button>
									</ion-buttons>
								</ion-item>
								<ion-item-group>
									<ion-item  class="rev-queue-heading" button="true" detail="false">
										<ion-badge slot="start" color="medium">0</ion-badge>
										<ion-label><b>Messages</b></ion-label>
									</ion-item>
									<!--ion-item-sliding lines="full">
										<ion-item>
											<ion-icon slot="start" size="small" name="ellipse-outline" color="medium"></ion-icon>
											<ion-label>
												No unopened messages
											</ion-label>
										</ion-item>
										<ion-item-options>
											<ion-item-option>
												Favorite
											</ion-item-option>
										</ion-item-options>
									</ion-item-sliding-->
								</ion-item-group>
								<ion-item-group>
									<ion-item button="true" lines="none" detail="false" >
										<ion-badge slot="start" color="danger">2</ion-badge>
										<ion-label><b>Customers</b></ion-label>
									</ion-item>
									<ion-item-sliding>
										<ion-item class="rev-item">
											<ion-icon slot="start" size="small" name="chatbox-ellipses-sharp"></ion-icon>
											<ion-label>
												Delores Franks
											</ion-label>
											<ion-note slot="end">
												7:28
											</ion-note>
											<ion-buttons slot="end" class="ion-hide-sm-down">
												<ion-button size="" slot="end">
													<ion-icon size="large" slot="icon-only" name="download-sharp" color="primary"></ion-icon>
												</ion-button>
											</ion-buttons>
										</ion-item>
										<ion-item-options>
											<ion-item-option>
												Take Chat
											</ion-item-option>
										</ion-item-options>
									</ion-item-sliding>
									<ion-item-sliding>
										<ion-item class="rev-item" lines="full"><!--Last list item lines=full -->
											<ion-icon slot="start" size="small" name="call-sharp"></ion-icon>
											<ion-label>
												19525025673
											</ion-label>
											<ion-note slot="end">
												3:02
											</ion-note>
											<ion-buttons slot="end" class="ion-hide-sm-down">
												<ion-button size="" slot="end">
													<ion-icon size="large" slot="icon-only" name="download-sharp" color="primary"></ion-icon>
												</ion-button>
											</ion-buttons>
										</ion-item>
										<ion-item-options>
											<ion-item-option>
												Take Call
											</ion-item-option>
										</ion-item-options>
									</ion-item-sliding>
								</ion-item-group>
								<ion-item class="rev-item" button="true" detail="false" color="light">
									<!--ion-icon slot="start" name="add" ></ion-icon-->
									<ion-label ><h2>Service ACD</h2></ion-label>
									<ion-buttons slot="end">
										<ion-button size="small" slot="end">
											<ion-icon size="small" slot="icon-only" name="ellipsis-vertical"></ion-icon>
										</ion-button>
									</ion-buttons>
								</ion-item>
								<ion-item-group>
									<ion-item  class="rev-queue-heading" button="true" detail="false">
										<ion-badge slot="start" color="danger">1</ion-badge>
										<ion-label><b>Messages</b></ion-label>
									</ion-item>
									<ion-item-sliding>
										<ion-item class="rev-item">
											<ion-icon slot="start" size="small" name="mail-sharp"></ion-icon>
											<ion-label>
												Marjorie Stevens
											</ion-label>
											<ion-note slot="end">
												Today
											</ion-note>
											<ion-buttons slot="end" class="ion-hide-sm-down">
												<ion-button size="" slot="end">
													<ion-icon size="large" slot="icon-only" name="download-sharp" color="primary"></ion-icon>
												</ion-button>
											</ion-buttons>
										</ion-item>
										<ion-item-options>
											<ion-item-option>
												Get Mail
											</ion-item-option>
										</ion-item-options>
									</ion-item-sliding>
								</ion-item-group>
								<ion-item-group>
									<ion-item button="true" detail="false" >
										<ion-badge slot="start" color="danger">2</ion-badge>
										<ion-label><b>Customers</b></ion-label>
									</ion-item>
									<ion-item-sliding>
										<ion-item class="rev-item">
											<ion-icon slot="start" size="small" name="chatbox-ellipses-sharp"></ion-icon>
											<ion-label>
												Ned Turpin
											</ion-label>
											<ion-note slot="end">
												7:28
											</ion-note>
											<ion-buttons slot="end" class="ion-hide-sm-down">
												<ion-button size="" slot="end">
													<ion-icon size="large" slot="icon-only" name="download-sharp" color="primary"></ion-icon>
												</ion-button>
											</ion-buttons>
										</ion-item>
										<ion-item-options>
											<ion-item-option>
												Take Chat
											</ion-item-option>
										</ion-item-options>
									</ion-item-sliding>
									<ion-item-sliding>
										<ion-item class="rev-item" lines="full"><!--Last list item lines=full -->
											<ion-icon slot="start" size="small" name="call-sharp"></ion-icon>
											<ion-label>
												19523210987
											</ion-label>
											<ion-note slot="end">
												1:53
											</ion-note>
											<ion-buttons slot="end" class="ion-hide-sm-down">
												<ion-button size="" slot="end">
													<ion-icon size="large" slot="icon-only" name="download-sharp" color="primary"></ion-icon>
												</ion-button>
											</ion-buttons>
										</ion-item>
										<ion-item-options>
											<ion-item-option>
												Take Call
											</ion-item-option>
										</ion-item-options>
									</ion-item-sliding>
								</ion-item-group>
								<ion-item class="rev-item" button="true" detail="false" color="light">
									<!--ion-icon slot="start" name="add" ></ion-icon-->
									<ion-label ><h2>Support ACD</h2></ion-label>
									<ion-buttons slot="end">
										<ion-button size="small" slot="end">
											<ion-icon size="small" slot="icon-only" name="ellipsis-vertical"></ion-icon>
										</ion-button>
									</ion-buttons>
								</ion-item>
								<ion-item-group>
									<ion-item  class="rev-queue-heading" button="true" lines="none" detail="false">
										<ion-badge slot="start" color="medium">0</ion-badge>
										<ion-label><b>Messages</b></ion-label>
									</ion-item>
									<ion-item-sliding lines="full">
										<ion-item>
											<ion-icon slot="start" size="small" name="ellipse-outline" color="medium"></ion-icon>
											<ion-label>
												No unopened messages
											</ion-label>
										</ion-item>
										<ion-item-options>
											<ion-item-option>
												Favorite
											</ion-item-option>
										</ion-item-options>
									</ion-item-sliding>
								</ion-item-group>
								<ion-item-group>
									<ion-item button="true" detail="false" >
										<ion-badge slot="start" color="danger">2</ion-badge>
										<ion-label><b>Customers</b></ion-label>
									</ion-item>
									<ion-item-sliding>
										<ion-item class="rev-item">
											<ion-icon slot="start" size="small" name="chatbox-ellipses-sharp"></ion-icon>
											<ion-label>
												Brent Callahan
											</ion-label>
											<ion-note slot="end">
												2:32
											</ion-note>
											<ion-buttons slot="end" class="ion-hide-sm-down">
												<ion-button size="" slot="end">
													<ion-icon size="large" slot="icon-only" name="download-sharp" color="primary"></ion-icon>
												</ion-button>
											</ion-buttons>
										</ion-item>
										<ion-item-options>
											<ion-item-option>
												Take Chat
											</ion-item-option>
										</ion-item-options>
									</ion-item-sliding>
									<ion-item-sliding>
										<ion-item class="rev-item" lines="full"><!--Last list item lines=full -->
											<ion-icon slot="start" size="small" name="call-sharp"></ion-icon>
											<ion-label>
												19523210987
											</ion-label>
											<ion-note slot="end">
												1:53
											</ion-note>
											<ion-buttons slot="end" class="ion-hide-sm-down">
												<ion-button size="" slot="end">
													<ion-icon size="large" slot="icon-only" name="download-sharp" color="primary"></ion-icon>
												</ion-button>
											</ion-buttons>
										</ion-item>
										<ion-item-options>
											<ion-item-option>
												Take Call
											</ion-item-option>
										</ion-item-options>
									</ion-item-sliding>
								</ion-item-group>
								
								
							</ion-content>
					</div>
				</div>
				<div class="rev-column media">
					<div class="rev-grid-container rev-media-container">
						<ion-header>
							<ion-toolbar color="light">
								<ion-buttons slot="start">
									<ion-menu-toggle>
										<ion-button>
											<ion-icon slot="icon-only" name="menu"></ion-icon>
										</ion-button>
									</ion-menu-toggle>
									<ion-button (click)="focusMedia()" class="ion-hide-xl-down"><ion-icon name="videocam-sharp" slot="icon-only"></ion-icon></ion-button>
								</ion-buttons>
								<ion-title>Video &amp; Sharing</ion-title>
							</ion-toolbar>
						</ion-header>
						<ion-content>
							<!-- Photo examples used to show positioning and retention of aspect ratio -->
							<!-- Icon examples used to show positioning and retention of aspect ratio -->
							<!--div class="rev-media-grid">
									<div class="rev-video-parent"><div class="rev-video"><img src="../../assets/video-01.jpg" alt=""/></div></div>
									<div class="rev-video-parent"><div class="rev-video"><img src="../../assets/video-02.jpg" alt=""/></div></div>
									<div class="rev-video-parent"><div class="rev-video"><img src="../../assets/video-03.jpg" alt=""/></div></div>
									<div class="rev-video-parent"><div class="rev-video"><img src="../../assets/video-04.jpg" alt=""/></div></div>
									<div class="rev-video-parent"><div class="rev-video"><img src="../../assets/video-05.jpg" alt=""/></div></div>
									<div class="rev-video-parent"><div class="rev-video"><img src="../../assets/video-06.jpg" alt=""/></div></div>
									<div class="rev-video-parent"><div class="rev-video"><img src="../../assets/video-07.jpg" alt=""/></div></div>
								</div>
								<div class="rev-media-grid">
									<div class="rev-video-parent"><div class="rev-video"><ion-icon size="large" name="person" color="light"></ion-icon></div></div>
									<div class="rev-video-parent"><div class="rev-video"><ion-icon size="large" name="person" color="light"></ion-icon></div></div>
									<div class="rev-video-parent"><div class="rev-video"><ion-icon size="large" name="person" color="light"></ion-icon></div></div>
									<div class="rev-video-parent"><div class="rev-video"><ion-icon size="large" name="person" color="light"></ion-icon></div></div>
									<div class="rev-video-parent"><div class="rev-video"><ion-icon size="large" name="person" color="light"></ion-icon></div></div>
									<div class="rev-video-parent"><div class="rev-video"><ion-icon size="large" name="person" color="light"></ion-icon></div></div>
									<div class="rev-video-parent"><div class="rev-video"><ion-icon size="large" name="person" color="light"></ion-icon></div></div>
								</div>
							</div-->
						</ion-content>
					</div>
				</div>
				<div class="rev-column chat">
					<div class="rev-chat-container">
							<ion-header>
								<ion-toolbar color="light">
									<ion-buttons slot="start">
										<ion-menu-toggle>
											<ion-button>
												<ion-icon slot="icon-only" name="menu"></ion-icon>
											</ion-button>
										</ion-menu-toggle>
										<ion-button (click)="focusMessages()" class="ion-hide-xl-down"><ion-icon name="chatbox-ellipses-sharp" slot="icon-only"></ion-icon></ion-button>
									</ion-buttons>
									<ion-title>Messages</ion-title>			
								</ion-toolbar>
							</ion-header>
							<div class="rev-message-window">
								<ion-content>
									<div class="rev-chat">
										<div class="mine messages">
											<div class="message last">
												Hello
											 </div>
										</div>
										<div class="yours messages">
											<div class="message">
												Hey!
											</div>
											<div class="message">
												You there?
											</div>
											<div class="message last">
												Hello, how's it going?
											</div>
										</div>
										<div class="mine messages">
											<div class="message">
												Great thanks!
											</div> 
											<div class="message last">
												How about you?
											 </div>
										</div>
										<div class="yours messages">
											<div class="message last">
												Lorem ipsum dolor sit amet. 
											</div>
										</div>
										<div class="mine messages">
											<div class="message">
												No way
											</div> 
											<div class="message last">
												Duis aute irure dolor in reprehenderit in voluptate?
											 </div>
										</div>
										<div class="yours messages">
											<div class="message">
												I don't think so ...  
											</div>
											<div class="message last">
												For example, ut enim ad minim veniam.  
											</div>
										</div>	
									</div>
								</ion-content>
							</div>
							<div class="rev-message-input">
								<ion-content>
								<div class="relative">
								<ion-item>
									<ion-label position="floating">Message</ion-label>
									<ion-textarea class="rev-message-textarea"></ion-textarea>
								</ion-item>
								<ion-button class="btn-message-input">
									<ion-icon slot="icon-only" name="arrow-up"></ion-icon>
								</ion-button>
								</div>
								</ion-content>
							</div>
							<div class="rev-message-toolbar">
								<ion-content>
									<ion-toolbar>
									<ion-buttons slot="start">
										<ion-button fill="clear">
											<ion-icon slot="icon-only" name="happy-outline" size="small" color="medium"></ion-icon>
										</ion-button>
										<ion-button>
											<ion-icon slot="icon-only" name="document-attach-outline" size="small" color="medium"></ion-icon>
										</ion-button>
										<ion-button>
											<ion-icon slot="icon-only" name="call-outline" size="small" color="medium"></ion-icon>
										</ion-button>
										<ion-button>
											<ion-icon slot="icon-only" name="videocam-outline" size="small" color="medium"></ion-icon>
										</ion-button>
										<ion-button>
											<ion-icon slot="icon-only" name="desktop-outline" size="small" color="medium"></ion-icon>
										</ion-button>
										<ion-button>
											<ion-icon slot="icon-only" name="text-outline" size="small" color="medium"></ion-icon>
										</ion-button>
									</ion-buttons>
									<ion-buttons slot="end">
										<ion-button>
											<ion-icon slot="icon-only" name="keypad-outline" size="small" color="medium"></ion-icon>
										</ion-button>
									</ion-buttons>
									</ion-toolbar>
								</ion-content>
							</div>
					</div>
				</div>
				<div class="rev-column sessions">
					<div class="rev-sessions-container">
						<ion-header>
							<ion-toolbar color="light">
								<ion-buttons slot="start">
									<ion-menu-toggle>
										<ion-button>
											<ion-icon slot="icon-only" name="menu"></ion-icon>
										</ion-button>
									</ion-menu-toggle>
									<ion-button (click)="focusSessions()" class="ion-hide-xl-down"><ion-icon name="people-circle-sharp" slot="icon-only"></ion-icon></ion-button>
								</ion-buttons>
								<ion-title>Sessions</ion-title>
							</ion-toolbar>
						</ion-header>
						<ion-content>
							<ion-item-divider color="light"><ion-label>Active Sessions</ion-label></ion-item-divider>
							<ion-card button="true" class="session selected">
								<ion-list>
									<ion-item>
										<a href="./communicator/communicator"  slot="end"><ion-icon size="small" name="close-circle" class="ion-no-padding"></ion-icon></a>
										<ion-label class="ion-no-padding">Richard Berghoffensteiner</ion-label>
										<ion-icon class="activity-indicator" size="small" name="call-sharp"></ion-icon>
										<ion-icon class="activity-indicator" size="small" name="videocam-sharp"></ion-icon>
										<ion-icon class="activity-indicator" size="small" name="desktop-sharp"></ion-icon>
										<ion-icon class="activity-indicator" size="small" name="chatbox-ellipses-sharp" color="success"></ion-icon>
									</ion-item>
									<span class="session-detail">04:45</span>
								</ion-list>
							</ion-card>
							<ion-card button="true" class="session">
								<ion-list>
									<ion-item>
										<a href="./communicator/communicator"  slot="end"><ion-icon size="small" name="close-circle" class="ion-no-padding"></ion-icon></a>
										<ion-label class="ion-no-padding">Jaime Epeneza</ion-label>
										<ion-icon class="activity-indicator" size="small" name="call-sharp"></ion-icon>
										<ion-icon class="activity-indicator" size="small" name="videocam-sharp"></ion-icon>
										<ion-icon class="activity-indicator" size="small" name="desktop-sharp"></ion-icon>
										<ion-icon class="activity-indicator" size="small" name="chatbox-ellipses-sharp"></ion-icon>
									</ion-item>
									<span class="session-detail">32:59</span>
								</ion-list>
							</ion-card>
							<ion-card button="true" class="session">
								<ion-list>
									<ion-item>
										<a href="./communicator/communicator"  slot="end"><ion-icon size="small" name="close-circle" class="ion-no-padding"></ion-icon></a>
										<ion-label class="ion-no-padding">Charlene Bibbs</ion-label>
										<ion-icon class="activity-indicator" size="small" name="call-sharp"></ion-icon>
										<ion-icon class="activity-indicator" size="small" name="videocam-sharp"></ion-icon>
										<ion-icon class="activity-indicator" size="small" name="desktop-sharp"></ion-icon>
										<ion-icon class="activity-indicator" size="small" name="chatbox-ellipses-sharp"></ion-icon>
									</ion-item>
									<ion-item>
										<a href="./communicator/communicator"  slot="end"><ion-icon size="small" name="close-circle" class="ion-no-padding"></ion-icon></a>
										<ion-label class="ion-no-padding">Doreen Carlton</ion-label>
										<ion-icon class="activity-indicator" size="small" name="call-sharp"></ion-icon>
										<ion-icon class="activity-indicator" size="small" name="videocam-sharp"></ion-icon>
										<ion-icon class="activity-indicator" size="small" name="desktop-sharp"></ion-icon>
										<ion-icon class="activity-indicator" size="small" name="chatbox-ellipses-sharp"></ion-icon>
									</ion-item>
									<ion-item>
										<a href="./communicator/communicator"  slot="end"><ion-icon size="small" name="close-circle" class="ion-no-padding"></ion-icon></a>
										<ion-label class="ion-no-padding">Evelyn Richardson</ion-label>
										<ion-icon class="activity-indicator" size="small" name="call-sharp"></ion-icon>
										<ion-icon class="activity-indicator" size="small" name="videocam-sharp"></ion-icon>
										<ion-icon class="activity-indicator" size="small" name="desktop-sharp"></ion-icon>
										<ion-icon class="activity-indicator" size="small" name="chatbox-ellipses-sharp"></ion-icon>
									</ion-item>
									<span class="session-detail">12:02</span>
								</ion-list>
							</ion-card>
							<ion-item-divider color="light"><ion-label>Incomplete Sessions</ion-label></ion-item-divider>
							<ion-card button="true" class="session ended">
								<ion-list>
									<ion-item>
										<a href="#"  slot="end"><ion-icon size="small" name="close-circle" class="ion-no-padding"></ion-icon></a>
										<ion-label class="ion-no-padding">(123) 654-8674</ion-label>
										<ion-icon class="activity-indicator" size="small" name="call-sharp"></ion-icon>
										<ion-icon class="activity-indicator" size="small" name="videocam-sharp"></ion-icon>
										<ion-icon class="activity-indicator" size="small" name="desktop-sharp"></ion-icon>
										<ion-icon class="activity-indicator" size="small" name="chatbox-ellipses-sharp"></ion-icon>
									</ion-item>
									<span class="session-detail">05:43</span>
								</ion-list>
							</ion-card>
							<ion-item-divider color="light"><ion-label>Recent Sessions</ion-label></ion-item-divider>
							<ion-list>	
								<ion-item button (click)="buttonClick()">
										<ion-avatar slot="start">
											<img src="../../assets/avatar-luke.png">
										</ion-avatar>
										<!--ion-buttons slot="end">
											<ion-button><ion-icon slot="icon-only" name="recording"></ion-icon></ion-button>
											<ion-button><ion-icon slot="icon-only" name="call-sharp"></ion-icon></ion-button>
										</ion-buttons-->
										<ion-label>
											<h2>Aaron Armisten</h2>
											<h3>(952) 392-1831 ext. 2123</h3>
										</ion-label>
									</ion-item>
								<ion-item button (click)="buttonClick()">
									<ion-avatar slot="start">
										<img src="../../assets/avatar-leia.png">
									</ion-avatar>
									<!--ion-buttons slot="end">
										<ion-button><ion-icon slot="icon-only" name="recording"></ion-icon></ion-button>
										<ion-button><ion-icon slot="icon-only" name="call-sharp"></ion-icon></ion-button>
									</ion-buttons-->
									<ion-label>
										<h2>Patricia Dobbs</h2>
										<h3>(952) 392-1831 ext. 2118</h3>
									</ion-label>
								</ion-item>
								<ion-item button (click)="buttonClick()">
									<ion-avatar slot="start">
										<img src="../../assets/avatar-poe.png">
									</ion-avatar>
									<!--ion-buttons slot="end">
										<ion-button><ion-icon slot="icon-only" name="recording"></ion-icon></ion-button>
										<ion-button><ion-icon slot="icon-only" name="call-sharp"></ion-icon></ion-button>
									</ion-buttons-->
									<ion-label>
										<h2>Bobby Nordquist</h2>
										<h3>(952) 392-1831 ext. 3939</h3>
									</ion-label>
								</ion-item>
								<ion-item button (click)="buttonClick()">
									<ion-avatar slot="start">
										<img src="../../assets/avatar-ben.png">
									</ion-avatar>
									<!--ion-buttons slot="end">
										<ion-button><ion-icon slot="icon-only" name="recording"></ion-icon></ion-button>
										<ion-button><ion-icon slot="icon-only" name="call-sharp"></ion-icon></ion-button>
									</ion-buttons-->
									<ion-label>
										<h2>Ben Watanabe</h2>
										<h3>(952) 392-1831 ext. 2123</h3>
									</ion-label>
								</ion-item>
								
							</ion-list>
						</ion-content>
					</div>
				</div>
			</div>

			<div class="rev-controls-container">
				<div class="rev-toolbar">
					<ion-toolbar color="light">
						<ion-buttons slot="start">
							<ion-button (click)="toggleMetrics()" class="ion-hide-xl-down">
								<ion-icon slot="icon-only" name="bar-chart-sharp"></ion-icon>
							</ion-button>
							<ion-buttons slot="end" class="ion-hide-xl-up">
								<ion-button (click)="focusQueues()"><ion-icon name="file-tray-stacked-sharp" slot="icon-only"></ion-icon></ion-button>	
								<ion-button (click)="focusMedia()"><ion-icon name="videocam-sharp" slot="icon-only"></ion-icon></ion-button>
									<ion-button (click)="focusMessages()"><ion-icon name="chatbox-ellipses-sharp" slot="icon-only"></ion-icon></ion-button>
									<ion-button (click)="focusSessions()"><ion-icon name="person-circle-sharp" slot="icon-only"></ion-icon></ion-button>
								</ion-buttons>
						</ion-buttons>
						<div class="ion-hide-xl-down" style="display: flex; justify-content: center; ">
							<ion-buttons>
								<ion-button (click)="revDefault()" class="btn">Default</ion-button>
								<ion-button (click)="showAll()" class="btn">Show All</ion-button>
							</ion-buttons>
						</div>
						<ion-buttons slot="end">
							<ion-button (click)="defaultLayout()">
								<ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
							</ion-button>
						</ion-buttons>
					</ion-toolbar>
				</div>
			</div>
			<div class="rev-metrics-collapse">
				<div class="rev-metrics-container">
					<div class="rev-tile success">
						<div class="rev-label">Avg. Inbound Sessions</div>
						<div class="rev-metric">23</div>
						<div class="rev-metric rev-avg">236</div>
					</div>
					<div class="rev-tile success">
						<div class="rev-label">Avg. Outbound Sessions</div>
						<div class="rev-metric">4</div>
						<div class="rev-metric rev-avg">76</div>
					</div>
					<div class="rev-tile warning">
						<div class="rev-label">Avg. Handle Time</div>
						<div class="rev-metric">5:34</div>
						<div class="rev-metric rev-avg">27:03</div>
					</div>
					<div class="rev-tile success">
						<div class="rev-label">Service Level (≤ 30s)</div>
						<div class="rev-metric">100<span class="rev-unit">%</span></div>
						<div class="rev-metric rev-avg">100<span class="rev-unit">%</span></div>
					</div>
					<div class="rev-tile success">
						<div class="rev-label">Avg. Speed of Answer</div>
						<div class="rev-metric">8<span class="rev-unit">s</span></div>
						<div class="rev-metric rev-avg">6<span class="rev-unit">s</span></div>
					</div>
					<div class="rev-tile success">
						<div class="rev-label">Rona</div>
						<div class="rev-metric">18</div>
						<div class="rev-metric rev-avg">22</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</div>

	
	
	

