
    <div class="ion-page" id="dash">
      
      <ion-content>
				<div class="rev-grid rev-grid-communicator">
					
					<div class="rev-media-container">
						<div class="rev-grid rev-grid-media-module">
							<ion-header>
								<ion-toolbar color="medium">
									<ion-buttons slot="start">
										<ion-menu-toggle>
											<ion-button>
												<ion-icon slot="icon-only" name="menu"></ion-icon>
											</ion-button>
										</ion-menu-toggle>
									</ion-buttons>
									<ion-title>Share Video &amp; Desktop</ion-title>
								</ion-toolbar>
							</ion-header>
							<div class="rev-media">
								<h5>Media Goes Here</h5>
							</div>						
							<div class="rev-toolbar">
								<ion-toolbar>
									<ion-buttons slot="secondary">
										<ion-button>
											<ion-icon slot="icon-only" name="document-attach-sharp"></ion-icon>
										</ion-button>
										<ion-button>
											<ion-icon slot="icon-only" name="call-sharp"></ion-icon>
										</ion-button>
										<ion-button>
											<ion-icon slot="icon-only" name="videocam-sharp"></ion-icon>
										</ion-button>
										<ion-button>
											<ion-icon slot="icon-only" name="desktop-sharp"></ion-icon>
										</ion-button>
									</ion-buttons>
									<ion-buttons slot="primary">
										<ion-button>
											<ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
										</ion-button>
									</ion-buttons>
								</ion-toolbar>
							</div>
						</div>
					</div>
					
					<div class="rev-chat-container">
						<div class="rev-grid rev-grid-chat-module">
							<ion-header>
								<ion-toolbar color="medium">
									<ion-buttons slot="start">
										<ion-menu-toggle>
											<ion-button>
												<ion-icon slot="icon-only" name="menu"></ion-icon>
											</ion-button>
										</ion-menu-toggle>
									</ion-buttons>
									<ion-title>Message</ion-title>
								</ion-toolbar>
							</ion-header>
							<div class="rev-message-window">
								<div class="chat">
									<div class="mine messages">
										<div class="message last">
											Hello
										 </div>
									</div>
									<div class="yours messages">
										<div class="message">
											Hey!
										</div>
										<div class="message">
											You there?
										</div>
										<div class="message last">
											Hello, how's it going?
										</div>
									</div>
									<div class="mine messages">
										<div class="message">
											Great thanks!
										</div> 
										<div class="message last">
											How about you?
										 </div>
									</div>
									<div class="yours messages">
										<div class="message last">
											Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
										</div>
									</div>
									<div class="mine messages">
										<div class="message">
											No way
										</div> 
										<div class="message last">
											Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum?
										 </div>
									</div>
									<div class="yours messages">
										<div class="message">
											I don't think so ...  
										</div>
										<div class="message last">
											For example, ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  
										</div>
									</div>	
								</div>
							</div>
							<div class="rev-message-input">
								<div class="relative">
								<ion-item>
									<ion-label position="floating">Message</ion-label>
									<ion-textarea class="rev-message-textarea"></ion-textarea>
								</ion-item>
								<ion-button class="btn-message-input">
									<ion-icon slot="icon-only" name="arrow-up"></ion-icon>
								</ion-button>
								</div>
							</div>
							<div class="rev-toolbar">
								<ion-toolbar>
									<ion-buttons slot="secondary">
										<ion-button>
											<ion-icon slot="icon-only" name="happy-sharp"></ion-icon>
										</ion-button>
										<ion-button>
											<ion-icon slot="icon-only" name="keypad-sharp"></ion-icon>
										</ion-button>
									</ion-buttons>
									<ion-buttons slot="primary">
										<ion-button>
											<ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
										</ion-button>
									</ion-buttons>
								</ion-toolbar>
							</div>
						</div>
					</div>
					
					<div class="rev-queues-container">
						<div class="rev-grid rev-grid-queue-module">
							<ion-content>
								<ion-header>
									<ion-toolbar color="medium">
										<ion-buttons slot="start">
											<ion-menu-toggle>
												<ion-button>
													<ion-icon slot="icon-only" name="menu"></ion-icon>
												</ion-button>
											</ion-menu-toggle>
										</ion-buttons>
										<ion-title>Sessions</ion-title>
									</ion-toolbar>
								</ion-header>
							</ion-content>
							
							<ion-content>
								<ion-card class="selected">
									<ion-grid>
										<ion-row>
											<ion-col>
												<ion-list size="8">
													<ion-card-title>Richard B.</ion-card-title>
													<span class="session-detail">(123) 456-7890</span>
													<span class="session-detail">04:45</span>
												</ion-list>
											</ion-col>
											<ion-col size="4">
												<ion-list>
												<ion-button expand="block" fill="outline" color="danger" slot="end" size="small">Leave</ion-button>
												</ion-list>
											</ion-col>
										</ion-row>
									</ion-grid>
								</ion-card>
								<ion-card>
									<ion-grid>
										<ion-row>
											<ion-col size="8">
												<ion-list>
													<ion-card-title>Jaime Epeneza</ion-card-title>
													<span class="session-detail">(123) 456-7890</span>
													<span class="session-detail">32:59</span>
												</ion-list>
											</ion-col>
											<ion-col size="4">
												<ion-list>
												<ion-button expand="block" fill="outline" color="medium" slot="end" size="small">Close</ion-button>
												</ion-list>
											</ion-col>
										</ion-row>
									</ion-grid>
								</ion-card>
								<ion-card>
									<ion-grid>
										<ion-row>
											<ion-col size="8">
												<ion-list>
													<ion-card-title>Charlene Bibbs</ion-card-title>
													<ion-card-title>Doreen Carlton</ion-card-title>
													<ion-card-title>Evelyn Richardson</ion-card-title>
													<span class="session-detail">12:02</span>
												</ion-list>
											</ion-col>
											<ion-col size="4">
												<ion-list>
													<ion-button expand="block" fill="outline" color="primary" slot="end" size="small">Rejoin</ion-button>
													<ion-button expand="block" fill="outline" color="danger" slot="end" size="small">Leave</ion-button>
												</ion-list>
											</ion-col>
										</ion-row>
									</ion-grid>
								</ion-card>
								<ion-card>
									<ion-card-content>
										<ion-card-title>(123) 654-8674</ion-card-title>
										<span class="session-detail">05:43</span>
										<ion-button size="small" fill="clear" shape="round">
											<ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
										</ion-button>
									</ion-card-content>
								</ion-card>

							</ion-content>
							<div class="rev-toolbar">
								<ion-toolbar>
									<ion-buttons slot="secondary">
										<ion-button>
											<ion-icon slot="icon-only" name="wine"></ion-icon>
										</ion-button>
										<ion-button>
											<ion-icon slot="icon-only" name="file-tray-full"></ion-icon>
										</ion-button>
									</ion-buttons>
									<ion-buttons slot="primary">
										<ion-button size="small">
											<ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
										</ion-button>
									</ion-buttons>
								</ion-toolbar>
							</div>
						</div>
					</div>
				</div>
				
      </ion-content>
    </div>



	
	
	

