.rev-grid-communicator {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 57px 0px; // main content, media toolbar, metrics ticker
  padding: 0;
  margin: 0;
  height: 100vh;

  .rev-controls-container { // media toolbar
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 57px;
    overflow-x: hidden;
  }
  .rev-metrics-collapse { // wrap metric-container in a collapsible div
    display: grid;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
		transition: all 0.3s ease-out;
  }
  .rev-metrics-container { // parent container for tile layout
    display: none;
  }
}

.rev-column-grid {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: calc(100vh - 57px);
  transition: all 0.3s ease-out;
  .rev-column {
    overflow: hidden;
    transition: all 0.3s ease-out;
    flex: 0;
  }
	.rev-column ion-content {
		opacity: 1;
		height: 100%;
		transition: all 0.3s ease-out;
	}
}
.rev-column {
  
	width: 0px;
	min-width: 0px;
  height: 100%;
  padding: 0;
  transition: 0.5s ease-out;
  overflow: hidden;
  overflow-y: scroll;
	opacity: 1;
}
.rev-column:nth-child(4n + 1),
.rev-column:nth-child(4n + 2),
.rev-column:nth-child(4n + 3) {
 ion-content { opacity: 0;}
}
.rev-column-grid.rev-default {
	.rev-column:nth-child(4n + 1),
	.rev-column:nth-child(4n + 2),
	.rev-column:nth-child(4n + 3) { flex: 0; ion-content { opacity: 0;}}
	.rev-column:nth-child(4n + 4) { flex: 1; ion-content { opacity: 1;}}}
.rev-column-grid.rev-focusQueues {
	.rev-column:nth-child(4n + 2),
	.rev-column:nth-child(4n + 3),
	.rev-column:nth-child(4n + 4) { flex: 0; ion-content { opacity: 0;}}
	.rev-column:nth-child(4n + 1) { flex: 1; ion-content { opacity: 1;}}}
.rev-column-grid.rev-focusMedia {
	.rev-column:nth-child(4n + 1),
	.rev-column:nth-child(4n + 3),
	.rev-column:nth-child(4n + 4) { flex: 0; ion-content { opacity: 0;}}
	.rev-column:nth-child(4n + 2) { flex: 1; ion-content { opacity: 1;}}}
.rev-column-grid.rev-focusMessages {
	.rev-column:nth-child(4n + 1),
	.rev-column:nth-child(4n + 2),
	.rev-column:nth-child(4n + 4) { flex: 0; ion-content { opacity: 0;}}
	.rev-column:nth-child(4n + 3) { flex: 1; ion-content { opacity: 1;}}}
.rev-column-grid.rev-focusSessions {
	.rev-column:nth-child(4n + 1),
	.rev-column:nth-child(4n + 2),
	.rev-column:nth-child(4n + 3) { flex: 0; ion-content { opacity: 0;}}
	.rev-column:nth-child(4n + 4) { flex: 1; ion-content { opacity: 1;}}}

// Manage Layouts for horizontal accordion
@media (min-width: 1200px) {

}
// Configure the internal vertical grids and child containers for these individual columns
.rev-queues-container {
  height: 100%;
  display: grid;
  grid-template-rows: 55px 1fr;
  overflow-x: hidden;
	h2 {
		font-size: 1.125em;
		font-weight: 500;
	}
	ion-item.rev-item {
			--inner-padding-end: 0.25em; // maximize space
		ion-note {
			font-size: 0.875em;
		}
	}
}
.rev-media-container {
  height: 100%;
  display: grid;
  grid-template-rows: 55px 1fr;
  overflow-x: hidden;
}
.rev-chat-container {
  height: 100%;
  display: grid;
  grid-template-rows: 55px 1fr 80px 57px;
  overflow-x: hidden;
}
.rev-message-window {
	grid-row: 2 / 3;
	overflow-y: auto;
	//background-color: var(--ion-background-color);
	.rev-chat {
		padding: 0 1em;
	}
}

// Brady Bunch video grid: style the video container (grid thumbnails etc)
.rev-media-grid-container {
	width: 100%;
	height: calc(100% - 0);
	display: grid;
	place-items: center;
	padding: 1em; 
	overflow-y: auto;
}
.rev-media-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-template-rows: minmax(1fr, 1fr);
	grid-gap: 0.5em;
	width: 100%;
}	
.rev-video-parent {
	background: rgba(0,0,0,0.125);
	display: flex;
	justify-content: center;
	overflow-y: hidden;
}
.rev-video-parent:before { // Set a 16:9 aspect ratio
	content: "";
	display: block;
	height: 0;
	width: 0;
	padding-bottom: calc(9/16 * 100%);
}
.rev-video {
	min-width: 100%;
	display: grid;
	place-items: center;
	position: relative;
	overflow-y: hidden;
}
.rev-video img {
	position: absolute;
	width:100%;
	height: auto;
}

	@media (min-width: 1200px) {
		.rev-grid-communicator.focus-media {
			.rev-grid-media-module {
				.rev-video-grid {
					grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
				}
			}
		}
	}
// MESSAGES: Style the Chat Messaging window and controls
.relative {
	position: relative; // Apply to a parent div to allow absolute positioning of children
}
.rev-message-input {
	grid-row: 3 / 4;
	height: 81px;
	border-top: 1px solid var(--ion-color-light-shade);
	
	ion-item {
		--border-color: transparent;
    --inner-border-width: 0 0 0 0;
	}

	ion-button.btn-message-input {
		z-index: 100;
		position: absolute;
		top: 8px;
		right: 8px;
		bottom: 8px;
		height: auto;
		margin: 0;
		padding: 0;
		border-radius: 0;
		
	}
	ion-icon {
		color: var(--ion-color-contrast);
	}
	ion-textarea.rev-message-textarea {
		padding-right: 4em;
		max-height:51px; // set height across all browsers ... nested within an ion-item
	}
}
	.rev-message-toolbar {
	height: 57px;
	border-top: 1px solid var(--ion-color-light-shade);
		//background-color: var(--ion-color-light);
	z-index: 0;
		display: flex;
		align-items: center;
}


.rev-sessions-container {
  height: 100%;
  display: grid;
  grid-template-rows: 55px 1fr;
  overflow-x: hidden;
	.session-detail {
		display: block;
		margin: 0.25em 0.625em 0.625em 0.625em;
	}
	ion-card {
		border: 1px solid var(--ion-color-medium);
		border-left: 10px solid var(--ion-color-medium);
		ion-item {
			--padding-top: 0px;
			--padding-end: 0.25em;
			--padding-bottom: 0px;
			--padding-start: 0.25em;
			--inner-padding-top: 0px;
			--inner-padding-end: 0.25em;
  		--inner-padding-bottom: 0px;
			--inner-padding-start: 0.25em;
		}
		ion-label {font-size: 0.875em; font-weight: 500;}
		ion-icon.activity-indicator {padding: 0 0.25em;}
	}
	ion-card.selected {
		border-left: 10px solid var(--ion-color-success);
	}
	ion-card.ended {
		border-left: 10px solid var(--ion-color-danger);
	}
	ion-card a {margin: 0 0 0 5px; z-index: +1;}
	ion-card .list-md, ion-card .list-ios {
		padding-top: 0;
		padding-bottom: 0;
	}
	ion-card-title {
		font-size: 1em;
	}
}

// COMMUNICATOR TOOLBAR
.rev-toolbar {
	height: 56px;
	//border: 10px solid var(--ion-color-light-shade);
	border-top: 1px solid var(--ion-color-light-shade);
	background-color: var(--ion-color-light);
	z-index: +1;
	ion-toolbar {
		height: 56px;
	}
	ion-toolbar .toolbar-container {
		  height: 56px;
	  }
}
// Style agent dash tiles and metrics 


// Third Party chat bubble styles (may or may not work with Communicator)
// CHAT BUBBLES //
.messages {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
	line-height: 1.6em;
}

.yours {
  align-items: flex-start;
}

.yours .message {
  margin-right: 25%;
  background-color: var(--ion-color-light);
  position: relative;
}

.yours .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: var(--ion-color-light);
  border-bottom-right-radius: 15px;
}
.yours .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: var(--ion-background-color);
  border-bottom-right-radius: 10px;
}

.mine {
  align-items: flex-end;
}

.mine .message {
  color: var(--ion-color-primary-contrast);
  margin-left: 25%;
  //background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
	background: var(--ion-color-primary);
  background-attachment: fixed;
  position: relative;
}

.mine .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  //background: linear-gradient(to bottom, #00D0EA 0%, #0085D1 100%);
	background: var(--ion-color-primary);
  background-attachment: fixed;
  border-bottom-left-radius: 15px;
}

.mine .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: var(--ion-background-color);
  border-bottom-left-radius: 10px;
}
@media (prefers-color-scheme: light) {
	.mine .message.last:after, .yours .message.last:after {
		background: #ffffff;
	}
}

// Filler styles for testing
/*
.rev-queues-container > div,
.rev-media-container > div,
.rev-chat-container > div,
.rev-sessions-container > div {
  background-color: #666;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  display: grid;
  place-items: center;
  color: #ccc;
  h1 {
    font-weight: 300;
  }
}
*/
