@media (min-width: 1200px) {
  .rev-grid-communicator {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 56px 1fr;
  }
  .rev-grid-communicator .rev-controls-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: 56px;
    overflow-x: hidden;
  }

  .rev-column {
    border-bottom: 10px solid var(--ion-color-light-shade);
  }

  .rev-column-grid.rev-default {
    border-top: 10px solid var(--ion-color-light-shade);
  }
  .rev-column-grid.rev-default .rev-column:nth-child(3n + 1) .rev-video-composite {
    opacity: 1;
  }
  .rev-column-grid.rev-default .rev-column:nth-child(3n + 2) .rev-disposition, .rev-column-grid.rev-default .rev-column:nth-child(3n + 2) .rev-message-window, .rev-column-grid.rev-default .rev-column:nth-child(3n + 2) .rev-message-toolbar {
    opacity: 1;
  }
  .rev-column-grid.rev-default .rev-column:nth-child(3n + 3) .rev-session-component-container {
    opacity: 1;
  }

  .rev-column:nth-child(4n + 3) {
    border-right: 10px solid var(--ion-color-light-shade);
  }

  .rev-column-grid.rev-default .rev-column:nth-child(3n + 1),
  .rev-column-grid.rev-default .rev-column:nth-child(3n + 3) {
    flex: 1;
    border-left: 10px solid var(--ion-color-light-shade);
  }
  .rev-column-grid.rev-default .rev-column:nth-child(3n + 2) {
    flex: 2;
    border-left: 10px solid var(--ion-color-light-shade);
  }
  .rev-column-grid.rev-default .rev-column:nth-child(3n + 1) {
    flex: 0;
    min-width: 67px;
    border-left: 10px solid var(--ion-color-light-shade);
    background-color: var(--ion-color-light);
  }
  .rev-column-grid.rev-default .rev-column:nth-child(3n + 1) .rev-video-composite {
    opacity: 0;
  }

  .rev-column-grid.rev-mediaMessages .rev-column:nth-child(3n + 3) {
    flex: 0.02;
    min-width: 66px;
    background-color: var(--ion-color-light);
    border-left: 10px solid var(--ion-color-light-shade);
  }
  .rev-column-grid.rev-mediaMessages .rev-column:nth-child(3n + 3) .rev-session-component-container {
    opacity: 0;
    height: 0px;
  }
  .rev-column-grid.rev-mediaMessages .rev-column:nth-child(3n + 1) {
    flex: 1;
    min-width: 66px;
    border-left: 10px solid var(--ion-color-light-shade);
  }
  .rev-column-grid.rev-mediaMessages .rev-column:nth-child(3n + 1) .rev-video-composite {
    opacity: 1;
  }
  .rev-column-grid.rev-mediaMessages .rev-column:nth-child(3n + 2) {
    flex: 0.375;
    border-left: 1px solid var(--ion-color-light-shade);
  }
  .rev-column-grid.rev-mediaMessages .rev-column:nth-child(3n + 2) .rev-disposition, .rev-column-grid.rev-mediaMessages .rev-column:nth-child(3n + 2) .rev-message-window {
    opacity: 1;
  }
  .rev-column-grid.rev-mediaMessages .rev-column:nth-child(3n + 3) {
    min-width: 76px;
  }

  .rev-column-grid.rev-messagesSessions .rev-column:nth-child(3n + 1) {
    flex: 0.02;
    min-width: 57px;
    background-color: var(--ion-color-light);
    border-left: 1px solid var(--ion-color-light-shade);
  }
  .rev-column-grid.rev-messagesSessions .rev-column:nth-child(3n + 1) .rev-video-composite {
    opacity: 0;
    height: 0px;
  }
  .rev-column-grid.rev-messagesSessions .rev-column:nth-child(3n + 1) {
    border-left: 10px solid var(--ion-color-light-shade);
    min-width: 66px;
  }
  .rev-column-grid.rev-messagesSessions .rev-column:nth-child(3n + 2) {
    flex: 1;
    border-left: 1px solid var(--ion-color-light-shade);
  }
  .rev-column-grid.rev-messagesSessions .rev-column:nth-child(3n + 2) .rev-disposition, .rev-column-grid.rev-messagesSessions .rev-column:nth-child(3n + 2) .rev-message-window, .rev-column-grid.rev-messagesSessions .rev-column:nth-child(3n + 2) .rev-message-toolbar {
    opacity: 1;
  }
  .rev-column-grid.rev-messagesSessions .rev-column:nth-child(3n + 3) {
    flex: 0.5;
    border-left: 1px solid var(--ion-color-light-shade);
  }
  .rev-column-grid.rev-messagesSessions .rev-column:nth-child(3n + 3) .rev-session-component-container {
    opacity: 1;
  }

  .rev-column-grid.rev-showAll .rev-column:nth-child(3n + 1),
  .rev-column-grid.rev-showAll .rev-column:nth-child(3n + 4) {
    flex: 1;
    border-left: 10px solid var(--ion-color-light-shade);
  }
  .rev-column-grid.rev-showAll .rev-column:nth-child(3n + 1) ion-content, .rev-column-grid.rev-showAll .rev-column:nth-child(3n + 1) .rev-video-composite,
  .rev-column-grid.rev-showAll .rev-column:nth-child(3n + 4) ion-content,
  .rev-column-grid.rev-showAll .rev-column:nth-child(3n + 4) .rev-video-composite {
    opacity: 1;
  }
  .rev-column-grid.rev-showAll .rev-column:nth-child(3n + 2) {
    flex: 1;
    border-left: 10px solid var(--ion-color-light-shade);
  }

  .rev-column-grid.rev-focusMedia .rev-column:nth-child(3n + 2),
  .rev-column-grid.rev-focusMedia .rev-column:nth-child(3n + 3) {
    flex: 0.02;
    min-width: 57px;
    background-color: var(--ion-color-light);
    border-left: 1px solid var(--ion-color-light-shade);
  }
  .rev-column-grid.rev-focusMedia .rev-column:nth-child(3n + 2) .rev-disposition, .rev-column-grid.rev-focusMedia .rev-column:nth-child(3n + 2) .rev-message-window, .rev-column-grid.rev-focusMedia .rev-column:nth-child(3n + 2) .rev-message-toolbar, .rev-column-grid.rev-focusMedia .rev-column:nth-child(3n + 2) .rev-session-component-container,
  .rev-column-grid.rev-focusMedia .rev-column:nth-child(3n + 3) .rev-disposition,
  .rev-column-grid.rev-focusMedia .rev-column:nth-child(3n + 3) .rev-message-window,
  .rev-column-grid.rev-focusMedia .rev-column:nth-child(3n + 3) .rev-message-toolbar,
  .rev-column-grid.rev-focusMedia .rev-column:nth-child(3n + 3) .rev-session-component-container {
    opacity: 0;
    height: 0px;
  }
  .rev-column-grid.rev-focusMedia .rev-column:nth-child(3n + 1) {
    flex: 1;
    border-left: 10px solid var(--ion-color-light-shade);
  }
  .rev-column-grid.rev-focusMedia .rev-column:nth-child(3n + 1) .rev-video-composite {
    opacity: 1;
  }
  .rev-column-grid.rev-focusMedia .rev-column:nth-child(3n + 2) {
    border-left: 10px solid var(--ion-color-light-shade);
    min-width: 66px;
  }
  .rev-column-grid.rev-focusMedia .rev-column:nth-child(3n + 3) {
    min-width: 66px;
  }

  .rev-column-grid.rev-focusMessages .rev-column:nth-child(3n + 1),
  .rev-column-grid.rev-focusMessages .rev-column:nth-child(3n + 3) {
    flex: 0.02;
    min-width: 57px;
    border-left: 1px solid var(--ion-color-light-shade);
    background-color: var(--ion-color-light);
  }
  .rev-column-grid.rev-focusMessages .rev-column:nth-child(3n + 1) .rev-video-composite, .rev-column-grid.rev-focusMessages .rev-column:nth-child(3n + 1) .rev-session-component-container,
  .rev-column-grid.rev-focusMessages .rev-column:nth-child(3n + 3) .rev-video-composite,
  .rev-column-grid.rev-focusMessages .rev-column:nth-child(3n + 3) .rev-session-component-container {
    opacity: 0;
    height: 0px;
  }
  .rev-column-grid.rev-focusMessages .rev-column:nth-child(3n + 1) {
    border-left: 10px solid var(--ion-color-light-shade);
    min-width: 66px;
  }
  .rev-column-grid.rev-focusMessages .rev-column:nth-child(3n + 2) {
    flex: 1;
    border-left: 10px solid var(--ion-color-light-shade);
  }
  .rev-column-grid.rev-focusMessages .rev-column:nth-child(3n + 3) {
    border-left: 10px solid var(--ion-color-light-shade);
    min-width: 76px;
  }

  .rev-column-grid.rev-focusSessions .rev-column:nth-child(3n + 1),
  .rev-column-grid.rev-focusSessions .rev-column:nth-child(3n + 2) {
    flex: 0.02;
    min-width: 57px;
    background-color: var(--ion-color-light);
    border-left: 1px solid var(--ion-color-light-shade);
  }
  .rev-column-grid.rev-focusSessions .rev-column:nth-child(3n + 1) .rev-video-composite, .rev-column-grid.rev-focusSessions .rev-column:nth-child(3n + 1) .rev-disposition, .rev-column-grid.rev-focusSessions .rev-column:nth-child(3n + 1) .rev-message-window, .rev-column-grid.rev-focusSessions .rev-column:nth-child(3n + 1) .rev-message-toolbar,
  .rev-column-grid.rev-focusSessions .rev-column:nth-child(3n + 2) .rev-video-composite,
  .rev-column-grid.rev-focusSessions .rev-column:nth-child(3n + 2) .rev-disposition,
  .rev-column-grid.rev-focusSessions .rev-column:nth-child(3n + 2) .rev-message-window,
  .rev-column-grid.rev-focusSessions .rev-column:nth-child(3n + 2) .rev-message-toolbar {
    opacity: 0;
    height: 0px;
  }
  .rev-column-grid.rev-focusSessions .rev-column:nth-child(3n + 1) {
    border-left: 10px solid var(--ion-color-light-shade);
    min-width: 67px;
  }
  .rev-column-grid.rev-focusSessions .rev-column:nth-child(3n + 3) {
    flex: 1;
    border-left: 1px solid var(--ion-color-light-shade);
  }
  .rev-column-grid.rev-focusSessions .rev-column:nth-child(3n + 3) {
    border-left: 10px solid var(--ion-color-light-shade);
  }

  .rev-grid-communicator.rev-metrics {
    grid-template-rows: 1fr 56px 1fr;
    transition: all 0.3s ease-out;
  }
  .rev-grid-communicator.rev-metrics .rev-column-grid {
    height: calc(100vh - 192px);
    transition: all 0.3s ease-out;
  }
  .rev-grid-communicator.rev-metrics .rev-metrics-collapse {
    opacity: 1;
    transition: all 0.5s ease;
    transition-delay: 0.3s;
  }

  .rev-toolbar {
    height: 56px;
    border: 10px solid var(--ion-color-light-shade);
    border-top: 0px;
    background-color: var(--ion-color-light);
  }

  .rev-media-grid {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-template-rows: minmax(1fr, 1fr);
    grid-gap: 0.5em;
  }
}
