ion-header.rev-comm-header {
  height: 56px;
  max-height: 56px;
  overflow: hidden;
}
ion-header.rev-comm-header ion-toolbar {
  height: 56px;
  max-height: 56px;
}

ion-header.rev-comm-header::after {
  background-image: none;
}

.rev-grid-communicator {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 57px 0px;
  padding: 0;
  margin: 0;
  height: calc(100vh - 56px);
}
.rev-grid-communicator .rev-controls-container {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  height: 57px;
  overflow-x: hidden;
}
.rev-grid-communicator .rev-metrics-collapse {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  transition: all 0.3s ease-out;
}
.rev-grid-communicator .rev-metrics-container {
  display: none;
}

.rev-column-grid {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: calc(100vh - 122px);
  transition: all 0.3s ease-out;
}
.rev-column-grid .rev-column {
  overflow: hidden;
  transition: all 0.3s ease-out;
  flex: 0;
}
.rev-column-grid .rev-column:nth-child(3n + 1) .rev-video-composite {
  opacity: 1;
  height: 100%;
  transition: all 0.3s ease-in;
}
.rev-column-grid .rev-column:nth-child(3n + 2) .rev-disposition, .rev-column-grid .rev-column:nth-child(3n + 2) .rev-message-window, .rev-column-grid .rev-column:nth-child(3n + 2) .rev-message-input, .rev-column-grid .rev-column:nth-child(3n + 2) .rev-message-toolbar {
  opacity: 1;
  transition: all 0.3s ease-out;
}
.rev-column-grid .rev-column:nth-child(3n + 3) .rev-session-component-container {
  opacity: 1;
  transition: all 0.3s ease-out;
}

.rev-column {
  width: 0px;
  min-width: 0px;
  height: 100%;
  padding: 0;
  transition: 0.5s ease-out;
  overflow: hidden;
  overflow-y: scroll;
  opacity: 1;
}

.rev-column-grid.rev-default .rev-column:nth-child(3n + 1) {
  flex: 0;
}
.rev-column-grid.rev-default .rev-column:nth-child(3n + 1) .rev-video-composite {
  opacity: 0;
  transition: all 0.5s ease-out;
}
.rev-column-grid.rev-default .rev-column:nth-child(3n + 2) {
  flex: 0;
}
.rev-column-grid.rev-default .rev-column:nth-child(3n + 2) .rev-disposition, .rev-column-grid.rev-default .rev-column:nth-child(3n + 2) .rev-message-window, .rev-column-grid.rev-default .rev-column:nth-child(3n + 2) .rev-message-input, .rev-column-grid.rev-default .rev-column:nth-child(3n + 2) .rev-message-toolbar {
  opacity: 0;
}
.rev-column-grid.rev-default .rev-column:nth-child(3n + 3) {
  flex: 1;
}
.rev-column-grid.rev-default .rev-column:nth-child(3n + 3) .rev-session-component-container {
  opacity: 1;
}

.rev-column-grid.rev-focusMedia .rev-column:nth-child(3n + 2) {
  flex: 0;
}
.rev-column-grid.rev-focusMedia .rev-column:nth-child(3n + 2) .rev-disposition, .rev-column-grid.rev-focusMedia .rev-column:nth-child(3n + 2) .rev-message-window, .rev-column-grid.rev-focusMedia .rev-column:nth-child(3n + 2) .rev-message-input, .rev-column-grid.rev-focusMedia .rev-column:nth-child(3n + 2) .rev-message-toolbar {
  opacity: 0;
}
.rev-column-grid.rev-focusMedia .rev-column:nth-child(3n + 3) {
  flex: 0;
}
.rev-column-grid.rev-focusMedia .rev-column:nth-child(3n + 3) .rev-session-component-container {
  opacity: 0;
}
.rev-column-grid.rev-focusMedia .rev-column:nth-child(3n + 1) {
  flex: 1;
}
.rev-column-grid.rev-focusMedia .rev-column:nth-child(3n + 1) .rev-video-composite {
  opacity: 1;
  transition: all 0.3s ease-out;
}

.rev-column-grid.rev-focusMessages .rev-column:nth-child(3n + 1) {
  flex: 0;
}
.rev-column-grid.rev-focusMessages .rev-column:nth-child(3n + 1) .rev-video-composite {
  opacity: 0;
  transition: all 0.5s ease-out;
}
.rev-column-grid.rev-focusMessages .rev-column:nth-child(3n + 3) {
  flex: 0;
}
.rev-column-grid.rev-focusMessages .rev-column:nth-child(3n + 3) .rev-session-component-container {
  opacity: 0;
}
.rev-column-grid.rev-focusMessages .rev-column:nth-child(3n + 2) {
  flex: 1;
}
.rev-column-grid.rev-focusMessages .rev-column:nth-child(3n + 2) .rev-disposition, .rev-column-grid.rev-focusMessages .rev-column:nth-child(3n + 2) .rev-message-window, .rev-column-grid.rev-focusMessages .rev-column:nth-child(3n + 2) .rev-message-input, .rev-column-grid.rev-focusMessages .rev-column:nth-child(3n + 2) .rev-message-toolbar {
  opacity: 1;
}

.rev-column-grid.rev-focusSessions .rev-column:nth-child(3n + 1) {
  flex: 0;
}
.rev-column-grid.rev-focusSessions .rev-column:nth-child(3n + 1) .rev-video-composite {
  opacity: 0;
  transition: all 0.5s ease-out;
}
.rev-column-grid.rev-focusSessions .rev-column:nth-child(3n + 2) {
  flex: 0;
}
.rev-column-grid.rev-focusSessions .rev-column:nth-child(3n + 2) .rev-disposition, .rev-column-grid.rev-focusSessions .rev-column:nth-child(3n + 2) .rev-message-window, .rev-column-grid.rev-focusSessions .rev-column:nth-child(3n + 2) .rev-message-input, .rev-column-grid.rev-focusSessions .rev-column:nth-child(3n + 2) .rev-message-toolbar {
  opacity: 0;
}
.rev-column-grid.rev-focusSessions .rev-column:nth-child(3n + 3) {
  flex: 1;
}
.rev-column-grid.rev-focusSessions .rev-column:nth-child(3n + 3) .rev-session-component-container {
  opacity: 1;
}

.rev-queues-container {
  height: 100%;
  display: grid;
  grid-template-rows: 55px 1fr;
  overflow-x: hidden;
}
.rev-queues-container h2 {
  font-size: 1.125em;
  font-weight: 500;
}
.rev-queues-container ion-item.rev-item {
  --inner-padding-end: 0.25em;
}
.rev-queues-container ion-item.rev-item ion-note {
  font-size: 0.875em;
}
.rev-queues-container ion-item.rev-item.rev-queue {
  border-top: 10px solid var(--ion-color-light-shade);
}

.rev-media-container {
  height: 100%;
  display: grid;
  grid-template-rows: 55px 1fr;
  overflow-x: hidden;
}

.rev-chat-container {
  height: 100%;
  display: grid;
  grid-template-rows: 55px auto 1fr 80px 57px;
  overflow-x: hidden;
  transition: all 0.4s ease-out;
}

.rev-disposition {
  border-bottom: 5px solid var(--ion-color-light-shade);
  grid-row: 2 / 3;
  overflow-y: auto;
  height: 0px;
  padding: 0;
  opacity: 0;
  transition: all 0.4s ease-out;
}

.rev-message-window {
  grid-row: 3 / 4;
  overflow-y: auto;
}
.rev-message-window .rev-chat {
  padding: 0 1em;
}

.rev-chat-container.rev-toggle-disposition {
  grid-template-rows: 55px auto 1fr 80px 57px;
  transition: all 0.4s ease-out;
}
.rev-chat-container.rev-toggle-disposition .rev-disposition {
  height: 320px;
  padding: 1em;
  opacity: 1;
  background-color: var(--ion-color-light);
  transition: all 0.4s ease-out;
}

.rev-session-component-container {
  background-color: var(--ion-color-light);
}

.relative {
  position: relative;
}

.rev-message-input {
  grid-row: 4 / 5;
  height: 81px;
  border-top: 1px solid var(--ion-color-light-shade);
}
.rev-message-input ion-item {
  --border-color: transparent;
  --inner-border-width: 0 0 0 0;
}
.rev-message-input ion-button.btn-message-input {
  z-index: 100;
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 8px;
  height: auto;
  margin: 0;
  padding: 0;
  border-radius: 0;
}
.rev-message-input ion-icon {
  color: var(--ion-color-contrast);
}
.rev-message-input ion-textarea.rev-message-textarea {
  padding-right: 4em;
  max-height: 51px;
}

.rev-message-toolbar {
  height: 57px;
  border-top: 1px solid var(--ion-color-light-shade);
  z-index: 0;
  display: flex;
  align-items: center;
}

.rev-sessions-container {
  height: 100%;
  display: grid;
  grid-template-rows: 55px 1fr;
  overflow-x: hidden;
}

.rev-toolbar {
  height: 56px;
  border-top: 1px solid var(--ion-color-light-shade);
  background-color: var(--ion-color-light);
  z-index: +1;
}
.rev-toolbar ion-toolbar {
  height: 56px;
}
.rev-toolbar ion-toolbar .toolbar-container {
  height: 56px;
}

ion-title.truncated, ion-title.md.truncated {
  display: flex;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.messages {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  line-height: 1.6em;
}

.yours {
  align-items: flex-start;
}

.yours .message {
  margin-right: 25%;
  background-color: var(--ion-color-light);
  position: relative;
}

.yours .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: var(--ion-color-light);
  border-bottom-right-radius: 15px;
}

.yours .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: var(--ion-background-color);
  border-bottom-right-radius: 10px;
}

.mine {
  align-items: flex-end;
}

.mine .message {
  color: var(--ion-color-primary-contrast);
  margin-left: 25%;
  background: var(--ion-color-primary);
  background-attachment: fixed;
  position: relative;
}

.mine .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: var(--ion-color-primary);
  background-attachment: fixed;
  border-bottom-left-radius: 15px;
}

.mine .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: var(--ion-background-color);
  border-bottom-left-radius: 10px;
}

@media (prefers-color-scheme: light) {
  .mine .message.last:after, .yours .message.last:after {
    background: #ffffff;
  }
}
.rev-stamp {
  font-size: 0.875em;
  padding-left: 1em;
  color: var(--ion-color-medium-shade);
}

.rev-name {
  font-weight: 500;
  margin-right: 1em;
}

.rev-time {
  font-weight: 400;
}

.rev-confirmation-div {
  min-width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  position: relative;
  overflow-y: auto;
}
.rev-confirmation-div .rev-confirmation-content {
  text-align: center;
}
.rev-confirmation-div .rev-confirmation-content .rev-confirmation-icon {
  font-size: 7em;
  line-height: 1em;
  --ionicon-stroke-width: 16px;
  color: var(--ion-color-medium);
}
.rev-confirmation-div .rev-confirmation-content h1 {
  font-size: 2.5em;
  line-height: 1em;
  font-weight: 300;
  letter-spacing: 1px;
}
.rev-confirmation-div .rev-confirmation-content p {
  margin: 1em 2em;
  line-height: 1.6em;
}

.rev-video-composite {
  position: relative;
  z-index: 0;
}

.rev-video-composite.rev-video-fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  transition: all 0s linear;
}

.rev-video-composite ion-toolbar {
  --color: #fff;
  --background: transparent;
  --opacity: 1.0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.rev-row {
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
}

.rev-video {
  max-width: 100%;
  width: 100%;
  cursor: pointer;
  position: relative;
  width: 100%;
  background-color: #333;
  min-height: auto;
}

.rev-video::before {
  content: "";
  background-image: url("../../assets/icon/person.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.125;
}

.rev-video-thumbnails {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0.5em;
  z-index: +1;
  flex-direction: column;
  width: 20%;
  max-width: 200px;
  min-width: 100px;
  height: auto;
  max-height: 100%;
  justify-content: flex-start;
  padding: 0.25em 0 0 0;
  overflow: hidden;
  overflow-y: auto;
}
.rev-video-thumbnails .rev-video {
  margin-top: 2px;
  background-color: black;
}
.rev-video-thumbnails .rev-video video {
  width: 100%;
  height: auto;
  max-height: 110px;
}

.rev-display-name {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  padding: 0 0.5em;
  background-color: rgba(0, 0, 0, 0.65);
  font-size: 0.5em;
  color: #ffffff;
  line-height: 1.5;
  z-index: +1;
}

.rev-video-primary {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: stretch;
  min-height: 100%;
  max-height: 100%;
  padding: 0;
}
.rev-video-primary .rev-display-name {
  font-size: 1.125em;
  left: auto;
  right: 0;
}

.rev-fullscreen-toolbar.rev-show {
  display: block;
}

.rev-fullscreen-toolbar {
  display: none;
  padding-right: 0.5em;
}
.rev-fullscreen-toolbar ion-button {
  --background: var(--ion-color-primary);
  opacity: 1.0;
}

.rev-video-composite.rev-grid-view {
  width: 100%;
  background-color: #333;
  transition: none;
}
.rev-video-composite.rev-grid-view .rev-video-thumbnails {
  left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-gap: 0.5em;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  position: absolute;
  overflow-y: auto;
  top: auto;
  bottom: auto;
}
.rev-video-composite.rev-grid-view .rev-video-primary {
  display: none;
}
.rev-video-composite.rev-grid-view .rev-video {
  min-width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  overflow-y: hidden;
  margin: 0;
}
.rev-video-composite.rev-grid-view .rev-video video {
  max-height: 100%;
}
.rev-video-composite.rev-grid-view .rev-video img {
  position: absolute;
  height: auto;
}

@media (min-width: 1080px) {
  .rev-video-composite.rev-grid-view .rev-video-thumbnails {
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    align-items: center;
    justify-items: center;
    overflow-y: auto;
  }
}
@media (min-width: 1200px) {
  .rev-showAll .rev-video-composite.rev-grid-view .rev-video-thumbnails {
    grid-template-columns: repeat(auto-fill, minmax(7em, 1fr));
  }
}
@media (min-width: 1600px) {
  .rev-showAll .rev-video-composite.rev-grid-view .rev-video-thumbnails {
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  }
}
@media (min-width: 2200px) {
  .rev-showAll .rev-video-composite.rev-grid-view .rev-video-thumbnails {
    grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  }
}
@media (min-width: 2600px) {
  .rev-showAll .rev-video-composite.rev-grid-view .rev-video-thumbnails {
    grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
  }
}
@media (min-width: 1300px) {
  .rev-video-composite.rev-grid-view .rev-video-thumbnails {
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  }
}
.rev-video-composite.rev-grid-view.rev-video-fullscreen .rev-video-thumbnails {
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  transition: all 0s linear;
  align-items: center;
  justify-items: center;
  overflow-y: auto;
}

@media (min-width: 1080px) {
  .rev-video-composite.rev-grid-view.rev-video-fullscreen .rev-video-thumbnails {
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    align-content: center;
    top: 0;
    bottom: 0;
  }
}
@media (min-width: 1400px) {
  .rev-video-composite.rev-grid-view.rev-video-fullscreen .rev-video-thumbnails {
    grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  }
}
@media (min-width: 2000px) {
  .rev-video-composite.rev-grid-view.rev-video-fullscreen .rev-video-thumbnails {
    grid-template-columns: repeat(auto-fill, minmax(36rem, 1fr));
  }
}
.rev-btn-video-grid-view, .rev-btn-video-grid-view-fullscreen, .rev-btn-video-default-view, .rev-btn-video-default-view-fullscreen {
  display: none;
}

.rev-btn-video-grid-view.rev-show, .rev-btn-video-grid-view-fullscreen.rev-show, .rev-btn-video-default-view.rev-show, .rev-btn-video-default-view-fullscreen.rev-show {
  display: inline-block;
}

.rev-icon-badge {
  position: absolute;
  top: -0.125em;
  right: -0.375em;
  font-size: 1em;
}

.rev-icon-badge.rev-numeric {
  position: absolute;
  top: -0.25em;
  right: -0.5em;
  font-size: 0.875em;
  padding: 2px;
}

.rev-icon-badge.none {
  color: transparent;
  fill: transparent;
}

.rev-icon-badge.success, .rev-icon-badge.online {
  color: var(--ion-color-success);
}

.rev-icon-badge.alert, .rev-icon-badge.busy {
  color: var(--ion-color-warning);
}

.rev-icon-badge.warning, .rev-icon-badge.away {
  color: var(--ion-color-tertiary);
}

.rev-icon-badge.danger {
  color: var(--ion-color-danger);
}
