<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Contacts</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content [fullscreen]="true">
	<ion-toolbar class="rev-padding-50">
		<ion-searchbar slot="start"></ion-searchbar>
		<ion-button slot="end">
      <ion-icon  name="chatbox-ellipses"></ion-icon>
    </ion-button>
    <ion-button slot="end">
      <ion-icon name="call"></ion-icon>
    </ion-button>
  </ion-toolbar> 
	<ion-grid>
		<ion-row>
			<ion-col size="12">
				<ion-list class="rev-list-col">
				<ion-item>
					<ion-icon name="person-circle"  class="ion-padding-end"></ion-icon>
					<ion-label>Mark P.</ion-label>
				</ion-item>
				<ion-item>
					<ion-icon name="person-circle"  class="ion-padding-end"></ion-icon>
					<ion-label>Mike K.</ion-label>
				</ion-item>
				<ion-item>
					<ion-icon name="person-circle"  class="ion-padding-end"></ion-icon>
					<ion-label>Dave K.</ion-label>
				</ion-item>
				<ion-item>
					<ion-icon name="person-circle"  class="ion-padding-end"></ion-icon>
					<ion-label>John C.</ion-label>
				</ion-item>
				<ion-item>
					<ion-icon name="person-circle"  class="ion-padding-end"></ion-icon>
					<ion-label>John R.</ion-label>
				</ion-item>
				<ion-item>
					<ion-icon name="person-circle"  class="ion-padding-end"></ion-icon>
					<ion-label>Hani Z.</ion-label>
				</ion-item>
				<ion-item>
					<ion-icon name="person-circle"  class="ion-padding-end"></ion-icon>
					<ion-label>Karl K.</ion-label>
				</ion-item>
			</ion-list>
			</ion-col>
		</ion-row>
		<!--
		<ion-row>
			<ion-col size="12">
				<ion-list>
				<ion-item nav-clear menu-close ng-click="toggleSubmenu()">
					<ion-icon name="caret-down-circle"  class="ion-padding-end"></ion-icon>
								<ion-label>Recent Sessions</ion-label></ion-item>
							<ion-item nav-clear menu-close ng-show="submenu">
									<ion-list>
											<ion-item nav-clear menu-close>
										<ion-icon name="person-circle"  class="ion-padding-end"></ion-icon>
					<ion-label>Mike K.</ion-label>
										</ion-item>
											<ion-item nav-clear menu-close>
										<ion-icon name="person-circle"  class="ion-padding-end"></ion-icon>
					<ion-label>Charlie G.</ion-label>
										</ion-item>
											<ion-item nav-clear menu-close>
										<ion-icon name="person-circle"  class="ion-padding-end"></ion-icon>
					<ion-label>Hani Z.</ion-label></ion-item>
									</ion-list>
							</ion-item>
							<ion-item nav-clear menu-close>
								<ion-icon name="caret-forward-circle"  class="ion-padding-end"></ion-icon>
								<ion-label>Sales &amp; Marketing</ion-label>
				</ion-item>
							<ion-item nav-clear menu-close>
								<ion-icon name="caret-forward-circle"  class="ion-padding-end"></ion-icon>
								<ion-label>Systems Engineers</ion-label>
				</ion-item>
							<ion-item nav-clear menu-close ng-show="submenu">
								<ion-icon name="caret-down-circle"  class="ion-padding-end"></ion-icon>
								<ion-label>Dev Team</ion-label>
				</ion-item>
				<ion-item>
				<ion-list>
				<ion-item>
					<ion-icon name="person-circle"  class="ion-padding-end"></ion-icon>
					<ion-label>Mark P.</ion-label>
				</ion-item>
				<ion-item>
					<ion-icon name="person-circle"  class="ion-padding-end"></ion-icon>
					<ion-label>Mike K.</ion-label>
				</ion-item>
				<ion-item>
					<ion-icon name="person-circle"  class="ion-padding-end"></ion-icon>
					<ion-label>Dave K.</ion-label>
				</ion-item>
				<ion-item>
					<ion-icon name="person-circle"  class="ion-padding-end"></ion-icon>
					<ion-label>John C.</ion-label>
				</ion-item>
				<ion-item>
					<ion-icon name="person-circle"  class="ion-padding-end"></ion-icon>
					<ion-label>John R.</ion-label>
				</ion-item>
				<ion-item>
					<ion-icon name="person-circle"  class="ion-padding-end"></ion-icon>
					<ion-label>Hani Z.</ion-label>
				</ion-item>
				<ion-item>
					<ion-icon name="person-circle"  class="ion-padding-end"></ion-icon>
					<ion-label>Karl K.</ion-label>
				</ion-item>
				</ion-list>
				</ion-item>
			</ion-list>
			</ion-col>
		</ion-row>
-->
	</ion-grid>
</ion-content>