<ion-header lines="none">
	<ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ contacts }}</ion-title>
		<ion-buttons slot="end" color="primary">
			<ion-button ><ion-icon name="add" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
	<ion-toolbar>
		<ion-searchbar slot="start" placeholder="Search All Contacts"></ion-searchbar>
  </ion-toolbar> 

	<ion-list id="contacts-list-A" class=""  lines="full">
		<ion-item-divider sticky="true" color="light"><ion-label>A</ion-label></ion-item-divider>	
		<ion-menu-toggle auto-hide="false" *ngFor="let p of contactPagesA; let i = index">
			<ion-item  button (click)="contact()" routerDirection="root" [routerLink]="[p.url]"  detail="false" [class.selected]="selectedIndex == i">
				<ion-label>
					<h2>{{ p.firstName }} {{ p.lastName }}</h2>
					<h3>{{ p.phone }} ext. {{ p.ext }}</h3>
				</ion-label>
				<ion-avatar slot="start">
					<img src="../../assets/{{ p.avatar }}">
				</ion-avatar>
				<ion-buttons slot="end" class="ion-hide-lg-down">
					<ion-button><ion-icon slot="icon-only" name="chatbox-ellipses" color="primary"></ion-icon></ion-button>
					<ion-button><ion-icon slot="icon-only" name="call" color="primary"></ion-icon></ion-button>
					<ion-button><ion-icon slot="icon-only" name="videocam" color="primary"></ion-icon></ion-button>
					<ion-button><ion-icon slot="icon-only" name="mail" color="primary"></ion-icon></ion-button>
				</ion-buttons>
			</ion-item>
		</ion-menu-toggle>
	</ion-list>
	<ion-list id="contacts-list-B" class=""  lines="full">
		<ion-item-divider sticky="true" color="light"><ion-label>B</ion-label></ion-item-divider>	
		<ion-menu-toggle auto-hide="false" *ngFor="let p of contactPagesB; let i = index">
			<ion-item  button (click)="contact()" routerDirection="root" [routerLink]="[p.url]"  detail="false" [class.selected]="selectedIndex == i">
				<ion-label>
					<h2>{{ p.firstName }} {{ p.lastName }}</h2>
					<h3>{{ p.phone }} ext. {{ p.ext }}</h3>
				</ion-label>
				<ion-avatar slot="start">
					<img src="../../assets/{{ p.avatar }}">
				</ion-avatar>
				<ion-buttons slot="end" class="ion-hide-lg-down">
					<ion-button><ion-icon slot="icon-only" name="chatbox-ellipses" color="primary"></ion-icon></ion-button>
					<ion-button><ion-icon slot="icon-only" name="call" color="primary"></ion-icon></ion-button>
					<ion-button><ion-icon slot="icon-only" name="videocam" color="primary"></ion-icon></ion-button>
					<ion-button><ion-icon slot="icon-only" name="mail" color="primary"></ion-icon></ion-button>
				</ion-buttons>
			</ion-item>
		</ion-menu-toggle>
	</ion-list>
	<ion-list id="contacts-list-C" class=""  lines="full">
		<ion-item-divider sticky="true" color="light"><ion-label>C</ion-label></ion-item-divider>	
		<ion-menu-toggle auto-hide="false" *ngFor="let p of contactPagesC; let i = index">
			<ion-item  button (click)="contact()" routerDirection="root" [routerLink]="[p.url]"  detail="false" [class.selected]="selectedIndex == i">
				<ion-label>
					<h2>{{ p.firstName }} {{ p.lastName }}</h2>
					<h3>{{ p.phone }} ext. {{ p.ext }}</h3>
				</ion-label>
				<ion-avatar slot="start">
					<img src="../../assets/{{ p.avatar }}">
				</ion-avatar>
				<ion-buttons slot="end" class="ion-hide-lg-down">
					<ion-button><ion-icon slot="icon-only" name="chatbox-ellipses" color="primary"></ion-icon></ion-button>
					<ion-button><ion-icon slot="icon-only" name="call" color="primary"></ion-icon></ion-button>
					<ion-button><ion-icon slot="icon-only" name="videocam" color="primary"></ion-icon></ion-button>
					<ion-button><ion-icon slot="icon-only" name="mail" color="primary"></ion-icon></ion-button>
				</ion-buttons>
			</ion-item>
		</ion-menu-toggle>
	</ion-list>
	<ion-list id="contacts-list-D" class=""  lines="full">
		<ion-item-divider sticky="true" color="light"><ion-label>D</ion-label></ion-item-divider>	
		<ion-menu-toggle auto-hide="false" *ngFor="let p of contactPagesD; let i = index">
			<ion-item  button (click)="contact()" routerDirection="root" [routerLink]="[p.url]"  detail="false" [class.selected]="selectedIndex == i">
				<ion-label>
					<h2>{{ p.firstName }} {{ p.lastName }}</h2>
					<h3>{{ p.phone }} ext. {{ p.ext }}</h3>
				</ion-label>
				<ion-avatar slot="start">
					<img src="../../assets/{{ p.avatar }}">
				</ion-avatar>
				<ion-buttons slot="end" class="ion-hide-lg-down">
					<ion-button><ion-icon slot="icon-only" name="chatbox-ellipses" color="primary"></ion-icon></ion-button>
					<ion-button><ion-icon slot="icon-only" name="call" color="primary"></ion-icon></ion-button>
					<ion-button><ion-icon slot="icon-only" name="videocam" color="primary"></ion-icon></ion-button>
					<ion-button><ion-icon slot="icon-only" name="mail" color="primary"></ion-icon></ion-button>
				</ion-buttons>
			</ion-item>
		</ion-menu-toggle>
	</ion-list>
</ion-content>