<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container"  class="rev-content-wrapper">
		<span class="ion-text-center">
		<h1><strong class="capitalize">{{ folder }}</strong></h1>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://revation.com/linklive-chat">LinkLive9</a></p>
		</span>
	</div>

</ion-content>
