/* Scss Document */
@media (min-width: 768px) {
  .logo-lg {
    max-width: 600px;
  }
}
.bg-dark {
  background-color: #1D324A !important;
}

a {
  color: #1E5d84;
}

main h1, .main .h1 {
  color: #1E5d84;
}

.bg {
  background-image: url(../images/bg.jpg);
  background-position: top center;
  opacity: 1.0;
  transform: rotateY(0deg);
}

@media (min-width: 992px) {
  .bg {
    background-image: url(../images/bg.jpg);
    background-position: top center;
    opacity: 1.0;
    transform: rotateY(0deg);
  }
}
.footer a {
  color: #ffffff;
  opacity: 0.65;
}

.btn-primary {
  color: #fff;
  background-color: #1E5d84;
  border-color: #1E5d84;
}

.btn-primary:hover {
  color: #fff;
  background-color: #1D324A;
  border-color: #1D324A;
}

.btn-outline-primary {
  background-color: transparent;
  color: #1E5d84;
  border-color: #1E5d84;
}

.btn-outline-primary:hover {
  background-color: #1D324A;
  color: #fff;
  border-color: #1D324A;
}

.patientList .card {
  border-left-color: #1E5d84;
  border-color: #1E5d84;
}
.patientList .card:hover {
  background-color: #fff;
  border-color: #1E5d84;
  border-left-color: #1E5d84;
}
.patientList .card.rev-orange {
  border-left-color: #f2860f;
}
.patientList .card.rev-orange:hover {
  border-color: #f2860f;
  border-left-color: #f2860f;
}
.patientList .card.rev-gold {
  border-left-color: #f9e606;
}
.patientList .card.rev-gold:hover {
  border-color: #f9e606;
  border-left-color: #f9e606;
}
.patientList .card.rev-green {
  border-left-color: #4fa270;
  border-top-color: #4fa270;
  border-right-color: #4fa270;
  border-bottom-color: #4fa270;
}
.patientList .card.rev-green .card-header {
  color: #fff;
  background-color: #4fa270;
}
.patientList .card.rev-green:hover {
  border-color: #4fa270;
  border-left-color: #4fa270;
}

.bg-trans-white {
  background-color: rgba(255, 255, 255, 0.75);
}

.bg-light-trans {
  background-color: rgba(74, 139, 200, 0);
}

.bg-dark-trans {
  background-color: rgba(74, 139, 200, 0);
}

.pageContent {
  background-color: rgba(255, 255, 255, 0.75);
}

.bg-form {
  padding: 15px;
  background-color: rgba(74, 139, 200, 0.25);
}

.brandColorPalette .primary {
  color: #1D324A;
}
.brandColorPalette .secondary {
  color: #1E5d84;
}
.brandColorPalette .accent1 {
  color: #54b5cb;
}
.brandColorPalette .accent2 {
  color: #B4AA7B;
}
.brandColorPalette .dangerRed {
  color: #c30303;
}
.brandColorPalette .alertOrange {
  color: #f2860f;
}
.brandColorPalette .warningYellow {
  color: #f9e606;
}
.brandColorPalette .successGreen {
  color: #4fa270;
}
.brandColorPalette .white {
  color: #fff;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
}
.brandColorPalette .black {
  color: #000;
}
.brandColorPalette .hover-primary {
  color: #070d13;
}
.brandColorPalette .hover-secondary {
  color: #103146;
}
.brandColorPalette .hover-accent1 {
  color: #318da1;
}
.brandColorPalette .hover-accent2 {
  color: #908552;
}
