<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Weather</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-card no-margin>
		<ion-item>
            <ion-icon name="star" slot="start"></ion-icon>
            <ion-label>{{ data.username ? data : '-' }}</ion-label>
        </ion-item>
        <p *ngIf="!error;else errorContent">{{ data ? data : '-' }}</p>
		<ng-template #errorContent><p><span style="color: red;">{{error}}</span></p></ng-template>
	</ion-card>
</ion-content>
