<ion-card button="true" class="session serving">
	<ion-list>
		<ion-item>
			<a button (click)="presentPopoverSession($event)" slot="end"><ion-icon size="small" name="ellipsis-vertical" class="ion-no-padding"></ion-icon></a>
			<ion-label class="ion-no-padding">John Deusenberg</ion-label>
			<ion-icon class="activity-indicator" size="small" name="call" color=""></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="videocam" color=""></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="desktop" color=""></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="chatbox-ellipses" color=""></ion-icon>
		</ion-item>
		<span class="rev-session-detail">04:45</span>
	</ion-list>
</ion-card>


<!-- Samples of cards in various states: -->
<ion-card button="true" class="session selected">
	<ion-list>
		<ion-item>
			<a button (click)="presentPopoverSession($event)" slot="end"><ion-icon size="small" name="ellipsis-vertical" class="ion-no-padding"></ion-icon></a>
			<ion-label class="ion-no-padding">Ben Kenobi</ion-label>
			<ion-icon class="activity-indicator" size="small" name="call"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="videocam"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="desktop"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="chatbox-ellipses" color="success"></ion-icon>
		</ion-item>
		<span class="rev-session-detail">04:45</span>
	</ion-list>
</ion-card>
<ion-card button="true" class="session">
	<ion-list>
		<ion-item>
			<a button (click)="presentPopoverSession($event)" slot="end"><ion-icon size="small" name="ellipsis-vertical" class="ion-no-padding"></ion-icon></a>
			<ion-label class="ion-no-padding">Greg Miller</ion-label>
			<ion-icon class="activity-indicator" size="small" name="call"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="videocam"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="desktop"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="chatbox-ellipses"></ion-icon>
		</ion-item>
		<span class="rev-session-detail">32:59</span>
	</ion-list>
</ion-card>
<ion-card button="true" class="session">
	<ion-list>
		<ion-item>
			<a button (click)="presentPopoverSession($event)" slot="end"><ion-icon size="small" name="ellipsis-vertical" class="ion-no-padding"></ion-icon></a>
			<ion-label class="ion-no-padding">Charlene Bibbs</ion-label>
			<ion-icon class="activity-indicator" size="small" name="call"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="videocam"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="desktop"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="chatbox-ellipses"></ion-icon>
		</ion-item>
		<ion-item>
			<a button (click)="presentPopoverSession($event)" slot="end"><ion-icon size="small" name="ellipsis-vertical" class="ion-no-padding"></ion-icon></a>
			<ion-label class="ion-no-padding">Doreen Carlton</ion-label>
			<ion-icon class="activity-indicator" size="small" name="call"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="videocam"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="desktop"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="chatbox-ellipses"></ion-icon>
		</ion-item>
		<ion-item>
			<a button (click)="presentPopoverSession($event)" slot="end"><ion-icon size="small" name="ellipsis-vertical" class="ion-no-padding"></ion-icon></a>
			<ion-label class="ion-no-padding">Evelyn Richardson</ion-label>
			<ion-icon class="activity-indicator" size="small" name="call"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="videocam"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="desktop"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="chatbox-ellipses"></ion-icon>
		</ion-item>
		<span class="rev-session-detail">12:02</span>
	</ion-list>
</ion-card>

<ion-card button="true" class="session ended">
	<ion-list>
		<ion-item>
			<a button (click)="presentPopoverSession($event)" slot="end"><ion-icon size="small" name="ellipsis-vertical" class="ion-no-padding"></ion-icon></a>
			<ion-label class="ion-no-padding">(123) 654-8674</ion-label>
			<ion-icon class="activity-indicator" size="small" name="call"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="videocam"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="desktop"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="chatbox-ellipses"></ion-icon>
		</ion-item>
		<span class="rev-session-detail">05:43</span>
	</ion-list>
</ion-card>
