<ion-card button="true" class="session serving">
	<ion-list>
		<ion-item>
			<a button (click)="presentPopoverSession($event)" slot="end"><ion-icon size="small" name="ellipsis-vertical" class="ion-no-padding"></ion-icon></a>
			<ion-label class="ion-no-padding">John Deusenberg</ion-label>
			<ion-icon class="activity-indicator" size="small" name="call" color=""></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="videocam" color=""></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="desktop" color=""></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="chatbox-ellipses" color=""></ion-icon>
		</ion-item>
		<span class="rev-session-detail">04:45</span>
	</ion-list>
</ion-card>


<!-- Samples of cards in various states: -->
<ion-card button="true" class="session selected">
	<ion-list>
		<ion-item>
			<a button (click)="presentPopoverSession($event)" slot="end"><ion-icon size="small" name="ellipsis-vertical" class="ion-no-padding"></ion-icon></a>
			<ion-label class="ion-no-padding">Ben Kenobi</ion-label>
			<ion-icon class="activity-indicator" size="small" name="call"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="videocam"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="desktop"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="chatbox-ellipses" color="success"></ion-icon>
		</ion-item>
		<!--div style="margin-top: 0.25em;">
		<ion-chip color="primary">
      <ion-icon name="man"></ion-icon><ion-icon name="pin" style="margin-left: -0.5em;"></ion-icon><ion-icon name="home" style="margin-right: 0.5em;"></ion-icon><ion-label>Demographic</ion-label>
    </ion-chip>
		<ion-chip color="primary">
			<ion-icon name="calendar"></ion-icon><ion-label>Birth Date</ion-label>
    </ion-chip>
		<ion-chip color="primary">
			<ion-icon name="man"></ion-icon><ion-icon name="woman" style="margin-left: -1em; margin-right: 0.5em;"></ion-icon><ion-label>Marital Status</ion-label>
    </ion-chip>
		<ion-chip color="primary">
			<ion-icon name="people-circle"></ion-icon><ion-label>Family</ion-label>
		</ion-chip>
		<ion-chip color="tertiary">
			<ion-icon name="headset"></ion-icon><ion-label>Customer Service Data</ion-label>
    </ion-chip>
		<ion-chip color="success">
			<ion-icon name="card"></ion-icon><ion-label>Online/Mobile Banking Behavior</ion-label>
    </ion-chip>
		<ion-chip color="success">
			<ion-icon name="repeat"></ion-icon><ion-label>Transactional Data</ion-label>
    </ion-chip>
		
		<ion-chip color="secondary">
			<ion-icon name="phone-portrait"></ion-icon><ion-label>Preferred Communication Channel</ion-label>
    </ion-chip>
		<span class="rev-session-detail">04:45</span>
		</div-->
		<span class="rev-session-detail">04:45</span>
	</ion-list>
</ion-card>
<ion-card button="true" class="session">
	<ion-list>
		<ion-item>
			<a button (click)="presentPopoverSession($event)" slot="end"><ion-icon size="small" name="ellipsis-vertical" class="ion-no-padding"></ion-icon></a>
			<ion-label class="ion-no-padding">Greg Miller</ion-label>
			<ion-icon class="activity-indicator" size="small" name="call"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="videocam"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="desktop"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="chatbox-ellipses"></ion-icon>
		</ion-item>
		<span class="rev-session-detail">32:59</span>
	</ion-list>
</ion-card>
<ion-card button="true" class="session">
	<ion-list>
		<ion-item>
			<a button (click)="presentPopoverSession($event)" slot="end"><ion-icon size="small" name="ellipsis-vertical" class="ion-no-padding"></ion-icon></a>
			<ion-label class="ion-no-padding">Charlene Bibbs</ion-label>
			<ion-icon class="activity-indicator" size="small" name="call"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="videocam"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="desktop"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="chatbox-ellipses"></ion-icon>
		</ion-item>
		<ion-item>
			<a button (click)="presentPopoverSession($event)" slot="end"><ion-icon size="small" name="ellipsis-vertical" class="ion-no-padding"></ion-icon></a>
			<ion-label class="ion-no-padding">Doreen Carlton</ion-label>
			<ion-icon class="activity-indicator" size="small" name="call"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="videocam"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="desktop"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="chatbox-ellipses"></ion-icon>
		</ion-item>
		<ion-item>
			<a button (click)="presentPopoverSession($event)" slot="end"><ion-icon size="small" name="ellipsis-vertical" class="ion-no-padding"></ion-icon></a>
			<ion-label class="ion-no-padding">Evelyn Richardson</ion-label>
			<ion-icon class="activity-indicator" size="small" name="call"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="videocam"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="desktop"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="chatbox-ellipses"></ion-icon>
		</ion-item>
		<span class="rev-session-detail">12:02</span>
	</ion-list>
</ion-card>

<ion-card button="true" class="session ended">
	<ion-list>
		<ion-item>
			<a button (click)="presentPopoverSession($event)" slot="end"><ion-icon size="small" name="ellipsis-vertical" class="ion-no-padding"></ion-icon></a>
			<ion-label class="ion-no-padding">(123) 654-8674</ion-label>
			<ion-icon class="activity-indicator" size="small" name="call"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="videocam"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="desktop"></ion-icon>
			<ion-icon class="activity-indicator" size="small" name="chatbox-ellipses"></ion-icon>
		</ion-item>
		<span class="rev-session-detail">05:43</span>
	</ion-list>
</ion-card>
