<div class="rev-metrics-container">
	<div class="rev-tile success">
		<div class="rev-label">Avg. Inbound Sessions</div>
		<div class="rev-metric">23</div>
		<div class="rev-metric rev-avg">236</div>
	</div>
	<div class="rev-tile success">
		<div class="rev-label">Avg. Outbound Sessions</div>
		<div class="rev-metric">4</div>
		<div class="rev-metric rev-avg">76</div>
	</div>
	<div class="rev-tile warning">
		<div class="rev-label">Avg. Handle Time</div>
		<div class="rev-metric">5:34</div>
		<div class="rev-metric rev-avg">27:03</div>
	</div>
	<div class="rev-tile success">
		<div class="rev-label">Service Level (≤ 30s)</div>
		<div class="rev-metric">100<span class="rev-unit">%</span></div>
		<div class="rev-metric rev-avg">100<span class="rev-unit">%</span></div>
	</div>
	<div class="rev-tile success">
		<div class="rev-label">Avg. Speed of Answer</div>
		<div class="rev-metric">8<span class="rev-unit">s</span></div>
		<div class="rev-metric rev-avg">6<span class="rev-unit">s</span></div>
	</div>
	<div class="rev-tile success">
		<div class="rev-label">Rona</div>
		<div class="rev-metric">18</div>
		<div class="rev-metric rev-avg">22</div>
	</div>
</div>