<ion-app>
  <ion-split-pane contentId="page">
    <ion-menu contentId="page" type="overlay" class="rev-main-menu">
      <ion-content>
				
				<div class="rev-grid rev-app-menu">
					<div class="rev-apps">
						<ion-list id="app-list" class="rev-apps">
								<ion-menu-toggle auto-hide="false" *ngFor="let p of apps; let i = index">
									<ion-item class="app-link" (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" color="dark" lines="none" detail="false" [class.selected]="selectedIndex == i">
										<ion-icon size="large" slot="end"  [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
										<ion-label>{{ p.title }}</ion-label>
									</ion-item>
								</ion-menu-toggle>
							</ion-list>
					</div>
					<div class="rev-menu">
					  <div class="menu-mail ">
							<ion-header>
								<ion-toolbar color="medium">
									<ion-title>Secure Mail</ion-title>
								</ion-toolbar>
							</ion-header>
							<ion-list id="inbox-list" class=""  lines="full">
								<ion-list-header>LinkLive 9</ion-list-header>
							  <ion-note>kkoch@revation.com</ion-note>
								<ion-menu-toggle auto-hide="false" *ngFor="let p of mailPages; let i = index">
									<ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]"  detail="false" [class.selected]="selectedIndex == i">
										<ion-icon size="large" slot="start" class="mr-12" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
										<ion-label>{{ p.title }}</ion-label>
									</ion-item>
								</ion-menu-toggle>
							</ion-list>
						</div>
						<div class="menu-communicator">
						  <ion-header>
								<ion-toolbar color="medium">
									<ion-title>Communicator</ion-title>
								</ion-toolbar>
							</ion-header>
							
							<ion-list id="communicatorFolders" class=""  lines="full">
								<ion-list-header>LinkLive 9</ion-list-header>
							  <ion-note>kkoch@revation.com</ion-note>
								<ion-menu-toggle auto-hide="false" *ngFor="let p of communicatorFolders; let i = index">
									<ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]"  detail="false" [class.selected]="selectedIndex == i">
										<ion-icon size="large" slot="start" class="mr-12" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
										<ion-label>{{ p.title }}</ion-label>
									</ion-item>
								</ion-menu-toggle>
							</ion-list>
							
							
								<ion-item   lines="full">
									<ion-icon name="file-tray-full-sharp" slot="start" size="large"></ion-icon>
									<ion-label>Support</ion-label>
									<ion-button fill="outline" slot="end">View</ion-button>
								</ion-item>
								<ion-item>
									<ion-label>Messages</ion-label>
									<ion-badge slot="end" color="danger">2</ion-badge>
								</ion-item>
								<ion-item>
									<ion-label>Customers</ion-label>
									<ion-badge slot="end" color="danger">3</ion-badge>
								</ion-item>
							

							
						</div>
						<div class="menu-contacts ">
						<ion-header>
								<ion-toolbar color="medium">
									<ion-title>Contacts</ion-title>
								</ion-toolbar>
							</ion-header>
							<ion-searchbar showCancelButton="focus"></ion-searchbar>
							<ion-list id="contactFolders" class=""  lines="full">
								<ion-list-header>LinkLive 9</ion-list-header>
							  <ion-note>kkoch@revation.com</ion-note>
								<ion-menu-toggle auto-hide="false" *ngFor="let p of contactFolders; let i = index">
									<ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]"  detail="false" [class.selected]="selectedIndex == i">
										<ion-icon size="large" slot="start" class="mr-12" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
										<ion-label>{{ p.title }}</ion-label>
									</ion-item>
								</ion-menu-toggle>
							</ion-list>
						</div>
					</div>
				</div>
				</ion-content>
		</ion-menu>
		<ion-router-outlet id="page"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
					
		