ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 20px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 0px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list ion-list-header {
  font-size: 1.25em;
  font-weight: 400;
  min-height: 20px;
}

/*
ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}
*/
ion-menu.md ion-item, ion-menu.md ion-item-divider {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 0;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.10);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item /*, ion-menu.ios ion-item-divider*/ {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

// APPS: CUSTOM MENU

/*
.split-pane-ios.split-pane-visible>.split-pane-side,
.split-pane-md.split-pane-visible>.split-pane-side{
  max-width: 20%;
  min-width: 20%;
}*/
@media screen and (min-width: 992px) {
	ion-menu{
	max-width:315px !important;
	}
}
@media screen and (min-width: 1200px) {
	ion-menu{
	max-width:315px !important;
	}
}
@media screen and (min-width: 1600px) {
	ion-menu{
	max-width:400px!important;
	}
}

.rev-grid {
	display: grid;
}
.rev-app-menu {
  grid-template-columns: minmax(64px, 64px) 1fr;
	height: 100vh;
  padding: 0;
  margin: 0;
}
.rev-apps {
	height: 100%;
	background-color: var(--ion-color-dark);
	border-right: 0px solid var(--ion-color-dark);
}
.rev-menu {
	height: 100%;
	overflow: hidden;
	overflow-y:auto;
	ion-icon {
		margin-left:0.5rem;
		margin-right: 0.75rem;
	}
	/* Temp mockup styles */
	.menu-mail, .menu-communicator, .menu-contacts {
		height: 100vh;
	}
}

ion-menu ion-list.rev-apps {
	padding: 8px 0 0 0;
  height: 100vh;
	background-color: var(--ion-color-dark);
	
	ion-item {
		//background-color: var(--ion-color-light);
		//text-align:center;
		--padding-start: 0;
		--padding-end:0;
	}
	ion-item.selected {
		//background-color: rgba(255,255,255, 0.24);
	}
	ion-icon {
		margin: 0;
		color:  var(--ion-color-light);
	}
	ion-item.selected ion-icon {
		margin: 0;
		color: #ffffff;
	}
	ion-label {
	position: fixed;
	top: -50000px;
	left: -50000px;
	}
}
ion-menu.rev-main-menu ion-content, ion-menu.md.rev-main-menu ion-content, ion-menu.ios.rev-main-menu ion-content {
	--padding-start:0;
	--padding-end: 0;
	--padding-top: 0;
	--padding-bottom: 0;
}
.rev-menu-fab {
	left: 34px;
}

// REV Content Wrapper 
.rev-content-wrapper {
	display: grid;
	place-items: center;
	width: 100%;
  height: 100%;
  resize: both;
  overflow: auto;
  }

