
ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  //padding: 20px 0;
	padding: 0 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 20px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 0px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list ion-list-header {
  font-size: 1.25em;
  font-weight: 400;
  min-height: 20px;
}

/*
ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}
*/
ion-menu.md ion-item, ion-menu.md ion-item-divider {
 // --padding-start: 10px;
 // --padding-end: 10px;
  border-radius: 0;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.10);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon, ion-menu.md ion-item-divider ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  //padding: 20px 0 0 0;
	padding: 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item /*, ion-menu.ios ion-item-divider*/ {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon, ion-menu.ios ion-item-divider ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}

// APPS: CUSTOM MENU

// 12/29/2020 Rendering these styles as unused to support latest deisgn input from team 
/*
@media screen and (min-width: 992px) {
	ion-menu{
	max-width:315px !important;
	}
}
@media screen and (min-width: 1200px) {
	ion-menu{
	max-width:315px !important;
	}
}
@media screen and (min-width: 1600px) {
	ion-menu{
	max-width:400px!important;
	}
}
*/
.rev-main-menu.rev-video-fullscreen {
	width: 0;
	min-width: 0;
	border-right: 0px;
} 

.rev-grid {
	display: grid;
}
.rev-app-menu {
  grid-template-columns: minmax(64px, 64px) 1fr;
	height: calc(100vh - 56px); // 100vh - ion-header height
  padding: 0;
  margin: 0;
}
.rev-apps {
	display: flex;
	flex-direction: column;
	align-content:stretch;
	width: 64px;
	height: calc(100vh - 56px);
	//border-right: 3px solid var(--ion-color-light);
}


.rev-menu {
	height: calc(100vh - 136px); // 100vh - ion-header (56px) - account component (80px)
	overflow: hidden;
	overflow-y:auto;

	ion-icon.mr-12 {
		//margin-left:0rem;
		margin-right: 0.625rem;
	}
	
	/* Temp mockup styles */
	
	.rev-menu-dashboard, .rev-menu-mail, .rev-menu-communicator, .rev-menu-appointments, .rev-menu-contacts {
		height: 100vh;
	}
	
}

ion-menu ion-list.rev-apps {
	padding: 0 0 0 0;
	width: 64px;
  height: 100vh;

	ion-item {
		--padding-start: 0;
		--padding-end:0;
		--min-height: 56px;
	}
	ion-item.selected {
		--background: rgba(var(--ion-color-primary-rgb), .25);
	}
	ion-icon {
		position:absolute;
		top: 13px;
		right: 16px;
		bottom: 13px;
		left: 16px;
		color:  var(--ion-color-dark-contrast);
		color: rgba(255,255,255,0.85);
	}
	ion-item.selected ion-icon {
		margin: 0;
		color: #ffffff;
	}
	// Position the .rev-apps menu-item labels offscreen
	ion-label {
	position: fixed;
	top: -50000px;
	left: -50000px;
	}
	ion-badge {
		position: absolute;
		top: 8px;
		right: 8px;
	}
}

@media (prefers-color-scheme: light) {
	.rev-apps {
		background-color: var(--ion-color-dark);
		//border-right: 3px solid var(--ion-color-light-shade);
	}
	ion-menu ion-list.rev-apps {
		--background: var(--ion-color-dark);
	}
	ion-menu ion-list.rev-apps ion-item {
		--background: var(--ion-color-dark);
		--color-hover: var(--ion-color-dark);
	}
}
@media (prefers-color-scheme: dark) {
	.rev-apps {
		background-color: var(--ion-color-dark);
		//border-right: 3px solid var(--ion-color-light-shade);
	}
	ion-menu ion-list.rev-apps {
		--background: var(--ion-color-dark);
	}
	ion-menu ion-list.rev-apps ion-item {
		--background: var(--ion-color-dark);
		--color-hover: var(--ion-color-dark);
	}
}

ion-menu ion-list.rev-apps.rev-userSettings {
	display: grid;
	height: 100%;
	grid-template-rows:  1fr 57px 135px;
}
ion-menu.rev-main-menu ion-content, ion-menu.md.rev-main-menu ion-content, ion-menu.ios.rev-main-menu ion-content {
	--padding-start:0;
	--padding-end: 0;
	--padding-top: 0;
	--padding-bottom: 0;
}



// Status-Fab: position button and resize font and icon
.rev-menu-fab {
	left: 16px;
	bottom: 6px;
	border: 4px solid #fff; border-radius: 10rem;
	ion-item {
		font-size: 1em;
		ion-icon {
			margin-right: 12px;
		}
	}
}
.rev-account-container {
	position: absolute; 
	bottom: 0; 
	width: 100%; 
	height: 80px;
	padding: 0;
	display: grid;
	grid-template-columns: 64px 1fr;
	background-color: var(--ion-color-light-shade);
	border-top: 0px solid var(--ion-color-light-shade);
	z-index: +1;
	.rev-spacer {
		background-color: var(--ion-color-dark);
	}
	.rev-user {
		display: grid;
		place-items: center start;
		padding-left: 10px;
	}
	ion-label {
		h2, h3 {
			font-weight: 500;
		}
	}
}



// Item Dividers

	ion-item-divider {
		ion-label {
			text-transform: uppercase;
			font-weight: 500;
		}
	}


// REV Content Wrapper 
.rev-content-wrapper {
	display: grid;
	place-items: center;
	width: 100%;
  height: 100%;
  resize: both;
  overflow: auto;
  }
// REV logo bug
ion-label.rev-h1 {
	margin-top: 16px;
	h1 {
		padding-left: 16px;
		font-weight: 500;
	}
}
ion-label.rev-h1.rev-logo {
	margin-top: 16px;
	h1 {
		padding-left: 80px;
	}
}
.rev-h1.rev-logo svg {
  height: 1.5em;
  width: 1.5em;
  margin-right: 0.25em;
  position: absolute;
	top: 9px;
  left: 15px;
	border: 3px solid #fff;
	border-radius: 10em;
}
.rev-h1.rev-logo img {
  height: 40px;
  width: 40px;
  margin-right: 0.25em;
  position: absolute;
	top: 9px;
  left: 12px;
	border-radius: 10em;
	border: 3px solid rgba(255,255,255,1);
}
.rev-logo-bug {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 64px; 
	height: 60px; 
	background-color: var(--ion-color-dark);
}

// Rev Status
ion-avatar {position: relative;}
ion-avatar ion-icon.rev-status {position: absolute; top: 0.2em; right: -0.625em;}
ion-label h2 .rev-status {font-size: 0.875em; color: var(--ion-color-medium-shade); text-transform: capitalize;}
.rev-status.online {fill: var(--ion-color-success);}
.rev-status.busy {fill: var(--ion-color-warning);}
.rev-status.on /* the phone */ {fill: var(--ion-color-warning);}
.rev-status.away {fill: var(--ion-color-tertiary);}
.rev-status.out /* to lunch */ {fill: var(--ion-color-tertiary);}
.rev-status.be /* right back */ {fill: var(--ion-color-tertiary);}
.rev-status.offline {fill: var(--ion-color-medium);}

.rev-hide {
	display: none;
}
.rev-show {
	display: block;
}

.rev-modal-keypad  {
	--height: auto;
--max-height: 100vh;
--max-width: 300px;
--min-height: 400px;
--min-width: 260px;
--width: auto;
}