<ion-app>
  <ion-split-pane contentId="page">
    <ion-menu contentId="page" type="overlay" class="rev-main-menu">
      <ion-content>
				<div class="rev-grid rev-app-menu">
					<div class="rev-apps">
						<ion-list id="app-list" class="rev-apps">
							<ion-menu-toggle auto-hide="false" *ngFor="let p of apps; let i = index">
								<ion-item class="app-link" (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
									<ion-icon size="large"  [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
									<ion-label>{{ p.title }}</ion-label>
									<ion-badge color="danger">{{ p.badge }}</ion-badge>
								</ion-item>
							</ion-menu-toggle>
						</ion-list>
						<ion-list id="user-menu" class="rev-apps rev-userSettings">
							<div class="grid-spacer"></div>	
							<ion-menu-toggle auto-hide="false" *ngFor="let p of userMenu; let i = index">
									<ion-item class="app-link" (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
										<ion-icon size="large"  [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
										<ion-label>{{ p.title }}</ion-label>
										<ion-badge color="danger">{{ p.badge }}</ion-badge>
									</ion-item>
								</ion-menu-toggle>
							</ion-list>
					</div>
					<div class="rev-menu">
						
					  <div class="rev-menu-mail ">
							<ion-item lines="none">
								<ion-label class="rev-h1"><h1><b>Secure Mail</b></h1></ion-label>
							</ion-item>
							<ion-list id="inbox-list" class=""  lines="full">
								<ion-menu-toggle auto-hide="false" *ngFor="let p of mailPages; let i = index">
									<ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]"  detail="false" [class.selected]="selectedIndex == i">
										<ion-icon slot="start" class="mr-12" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
										<ion-label>{{ p.title }}</ion-label>
										<ion-badge color="{{ p.color }}">{{ p.badge }}</ion-badge>
									</ion-item>
								</ion-menu-toggle>
							</ion-list>
						</div>
						
						<div class="rev-menu-communicator">
						  
							<ion-item lines="none">
								<ion-label class="rev-h1"><h1><b>Communicator</b></h1></ion-label>
							</ion-item>
							<ion-item lines="none">
								<ion-buttons slot="end"><ion-button><ion-icon slot="icon-only" name="mail"></ion-icon></ion-button></ion-buttons>
								<ion-label class="rev-h2"><h2><b>Speed Dials</b></h2></ion-label>
							</ion-item>

							<ion-list id="communicatorFolders" class=""  lines="full">	
								<ion-searchbar showCancelButton="focus"></ion-searchbar>
								<ion-item-group class="rev-speedDials">
									<ion-item-divider color="light">
										<ion-label>Internal</ion-label>
										<ion-icon slot="end" name="chevron-down" size="small"></ion-icon>
									</ion-item-divider>
									<ion-menu-toggle auto-hide="false" *ngFor="let p of speedDialsInternal">
										<ion-item  button (click)="buttonClick()">
											<ion-label><h2>{{ p.name }}</h2><h3>{{ p.number }} ext. {{ p.ext }}</h3></ion-label>
										</ion-item>
									</ion-menu-toggle>
								</ion-item-group>
								
								<ion-item-group class="rev-speedDials">
									<ion-item-divider color="light">
										<ion-label>External</ion-label>
										<ion-icon slot="end" name="chevron-down" size="small"></ion-icon>
									</ion-item-divider>
									<ion-menu-toggle auto-hide="false" *ngFor="let p of speedDialsExternal">
										<ion-item  button (click)="buttonClick()">
											<ion-label><h2>{{ p.name }}</h2><h3>{{ p.number }} ext. {{ p.ext }}</h3></ion-label>
										</ion-item>
									</ion-menu-toggle>
								</ion-item-group>

								<ion-item-group class="rev-speedDials">
									<ion-item-divider color="light">
										<ion-label>Personal</ion-label>
										<ion-icon slot="end" name="chevron-down" size="small"></ion-icon>
									</ion-item-divider>
									
									<ion-menu-toggle auto-hide="false" *ngFor="let p of speedDialsPersonal">
										<ion-item  button (click)="buttonClick()">
											<ion-label><h2>{{ p.name }}</h2><h3>{{ p.number }} ext. {{ p.ext }}</h3></ion-label>
										</ion-item>
									</ion-menu-toggle>
								</ion-item-group>
							</ion-list>				
						</div>
						
						<div class="rev-menu-contacts">
							<ion-item lines="none">
								<ion-label class="rev-h1"><h1><b>Contacts</b></h1></ion-label>
							</ion-item>
							<!--ion-searchbar showCancelButton="focus"></ion-searchbar-->
							<ion-list id="contactFolders" class=""  lines="full">
								<!--ion-list-header>LinkLive 9</ion-list-header>
							  <ion-note>kkoch@revation.com</ion-note-->
								<ion-menu-toggle auto-hide="false" *ngFor="let p of contactFolders; let i = index">
									<ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]"  detail="false" [class.selected]="selectedIndex == i">
										<ion-icon slot="start" class="mr-12" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
										<ion-label>{{ p.title }}</ion-label>
									</ion-item>
								</ion-menu-toggle>
							</ion-list>
						</div>
						
					</div>
				</div>
				<ion-fab class="rev-menu-fab" vertical="bottom" horizontal="start" slot="fixed">
					<ion-fab-button color="success">
						<ion-icon name="person-sharp" size="large"></ion-icon>
					</ion-fab-button>
					<ion-fab-list side="top">
						<ion-card>
							<ion-card-header color="primary">
								<ion-card-subtitle>Karl - kkoch@revation.com</ion-card-subtitle>
								<ion-card-title>Status</ion-card-title>
							</ion-card-header>

							<ion-list id="fab-app-list">
								<ion-menu-toggle auto-hide="false" *ngFor="let p of revStatus; let i = index">
									<ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]"  detail="false" [class.selected]="selectedIndex == i">
										<ion-icon color="{{ p.color }}" slot="start" class="mr-12" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
										<ion-label>{{ p.title }}</ion-label>
									</ion-item>
								</ion-menu-toggle>        
							</ion-list>

						</ion-card>
					</ion-fab-list>
				</ion-fab>
			</ion-content>
		</ion-menu>
		<ion-router-outlet id="page"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
					
		