<ion-card class="rev-keypad">
	<ion-card-header color="primary">
		<ion-card-title>Keypad</ion-card-title>
	</ion-card-header>
	<ion-grid class="rev-keys">
		<ion-row>
			<ion-col>
				<div>1</div>
			</ion-col>
			<ion-col>
				<div>2</div>
			</ion-col>
			<ion-col>
				<div>3</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<div>4</div>
			</ion-col>
			<ion-col>
				<div>5</div>
			</ion-col>
			<ion-col>
				<div>6</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<div>7</div>
			</ion-col>
			<ion-col>
				<div>8</div>
			</ion-col>
			<ion-col>
				<div>9</div>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<div></div>
			</ion-col>
			<ion-col>
				<div>0</div>
			</ion-col>
			<ion-col>
				<div></div>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-list>
		<ion-item lines="none" detail="false" button  (click)="dismissPopover()"><ion-icon slot="start" name="close-circle" color="danger"></ion-icon>Close</ion-item>
	</ion-list>
</ion-card>